// Header
// -- Font -- //
.designtlog-headerfont-proximanova {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-base;
  }
}

.designtlog-headerfont-notoserif {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-notoserif;
  }
}

.designtlog-headerfont-comfortaa {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-comfortaa;
  }
}

.designtlog-headerfont-airbornepilot {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-airbornepilot;
  }
}

.designtlog-headerfont-amaranth {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-amaranth;
  }
}

.designtlog-headerfont-beermoney {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-beermoney;
  }
}

.designtlog-headerfont-dancingscript {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-dancingscript;
  }
}

.designtlog-headerfont-greatvibes {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-greatvibes;
  }
}

.designtlog-headerfont-veles {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-veles;
  }
}

.designtlog-headerfont-zion {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-zion;
  }
}

.designtlog-headerfont-nautilus {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-nautilus;
  }
}

.designtlog-headerfont-ospdin {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-ospdin;
  }
}

.designtlog-headerfont-pecita {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-pecita;
  }
}

.designtlog-headerfont-poetsen {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-poetsen;
  }
}

.designtlog-headerfont-yessireebob {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-yessireebob;
  }
}

// -- Size -- //
.designtlog-headersize-small {
  .hero__title {
    font-size: 28px;
  }
}

.designtlog-headersize-middle {
  .hero__title {
    font-size: 46px;
  }
}

.designtlog-headersize-large {
  .hero__title {
    font-size: 75px;
  }
}

// -- Color -- //
.designtlog-headercolor-white {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .hero {
    color: #fff;
  }
}

.designtlog-headercolor-black {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .hero {
    color: #000;
  }
}

.designtlog-headercolor-shamrock {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #2ac67e;
      background-color: #2ac67e;
    }
  }

  .hero {
    color: #2ac67e;
  }
}

.designtlog-headercolor-cinnabar {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .hero {
    color: #e74c3c;
  }
}

.designtlog-headercolor-bluegray {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .hero {
    color: #6c7a89;
  }
}

.designtlog-headercolor-madison {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #38434e;
      background-color: #38434e;
    }
  }

  .hero {
    color: #38434e;
  }
}

// Background
// -- Color -- //
.designtlog-bgcolor-white {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .page-cover,
  &.layout--feed .page {
    background-color: #fff;
  }
}

.designtlog-bgcolor-black {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .page-cover,
  &.layout--feed .page {
    background-color: #000;
  }
}

.designtlog-bgcolor-cinnabar {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .page-cover,
  &.layout--feed .page {
    background-color: #e74c3c;
  }
}

.designtlog-bgcolor-silversand {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .page-cover,
  &.layout--feed .page {
    background-color: #c6c9cc;
  }
}

.designtlog-bgcolor-bluegray {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .page-cover,
  &.layout--feed .page {
    background-color: #6c7a89;
  }
}

// -- Image -- //
.designtlog-bgimage-none {
  .page-cover {
    background-image: none !important;
  }
}

// -- Alignment -- //
.designtlog-bgalignment-justify {
  .page-cover {
    background-size: 100% auto;
  }
}

.designtlog-bgalignment-center {
  .page-cover {
    background-position: 50% 0%;
  }
}

// Feed
// -- Background Color -- //
.designtlog-feedbgcolor-white {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .content-area__bg,
  .brick:not(.brick--flow) {
    background-color: #fff;

    .brick__body + .brick__meta {
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 36%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(36%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 36%); /* W3C */
    }
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #fff;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: #fff; }
    &:-ms-input-placeholder       { color: #fff; }
    &::-webkit-input-placeholder  { color: #fff; }
  }
}

.designtlog-feedbgcolor-black {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .content-area__bg,
  .brick:not(.brick--flow) {
    background-color: #000;

    .brick__body + .brick__meta {
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 36%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(36%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 36%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 36%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 36%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 36%); /* W3C */
    }
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info__text {
    color: #fff;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

.designtlog-feedbgcolor-cinnabar {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .content-area__bg,
  .brick:not(.brick--flow) {
    background-color: #e74c3c;

    .brick__body + .brick__meta {
      background: -moz-linear-gradient(top, rgba(231,76,60,0) 0%, rgba(231,76,60,1) 36%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,76,60,0)), color-stop(36%,rgba(231,76,60,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(231,76,60,0) 0%,rgba(231,76,60,1) 36%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(231,76,60,0) 0%,rgba(231,76,60,1) 36%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(231,76,60,0) 0%,rgba(231,76,60,1) 36%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(231,76,60,0) 0%,rgba(231,76,60,1) 36%); /* W3C */
    }
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

.designtlog-feedbgcolor-silversand {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .content-area__bg,
  .brick:not(.brick--flow) {
    background-color: #c6c9cc;

    .brick__body + .brick__meta {
      background: -moz-linear-gradient(top, rgba(198,201,204,0) 0%, rgba(198,201,204,1) 36%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,201,204,0)), color-stop(36%,rgba(198,201,204,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(198,201,204,0) 0%,rgba(198,201,204,1) 36%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(198,201,204,0) 0%,rgba(198,201,204,1) 36%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(198,201,204,0) 0%,rgba(198,201,204,1) 36%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(198,201,204,0) 0%,rgba(198,201,204,1) 36%); /* W3C */
    }
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #fff;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: #fff; }
    &:-ms-input-placeholder       { color: #fff; }
    &::-webkit-input-placeholder  { color: #fff; }
  }
}

.designtlog-feedbgcolor-bluegray {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .content-area__bg,
  .brick:not(.brick--flow) {
    background-color: #6c7a89;

    .brick__body + .brick__meta {
      background: -moz-linear-gradient(top, rgba(108,122,137,0) 0%, rgba(108,122,137,1) 36%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,122,137,0)), color-stop(36%,rgba(108,122,137,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(108,122,137,0) 0%,rgba(108,122,137,1) 36%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(108,122,137,0) 0%,rgba(108,122,137,1) 36%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(108,122,137,0) 0%,rgba(108,122,137,1) 36%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(108,122,137,0) 0%,rgba(108,122,137,1) 36%); /* W3C */
    }
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

// -- Font -- //
.designtlog-feedfont-ptsans {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-sans-serif;
  }
}

.designtlog-feedfont-ptserif {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-serif;
  }
}

.designtlog-feedfont-roboto {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-roboto;
  }
}

.designtlog-feedfont-lora {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-lora;
  }
}

.designtlog-feedfont-philosopher {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-philosopher;
  }
}

.designtlog-feedfont-ptmono {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-ptmono;
  }
}

.designtlog-feedfont-berenisadfpro {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-berenisadfpro;
  }
}

.designtlog-feedfont-djserif {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-djserif;
  }
}

.designtlog-feedfont-heuristica {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-heuristica;
  }
}

.designtlog-feedfont-permian {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-permian;
  }
}

.designtlog-feedfont-robotoslab {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-robotoslab;
  }
}

.designtlog-feedfont-lionel {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-lionel;
  }
}

.designtlog-feedfont-clearsans {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-clearsans;
  }
}

.designtlog-feedfont-museocyr {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-museocyr;
  }
}

// -- Color -- //
.designtlog-feedcolor-white {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .page-body {
    color: #fff;
  }
}

.designtlog-feedcolor-black {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .page-body {
    color: #000;
  }
}

.designtlog-feedcolor-silversand {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .page-body {
    color: #c6c9cc;
  }
}

.designtlog-feedcolor-bluegray {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .page-body {
    color: #6c7a89;
  }
}

.designtlog-feedcolor-madison {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #38434e;
      background-color: #38434e;
    }
  }

  .page-body {
    color: #38434e;
  }
}