// Шаблон фида
.layout--feed {
  background-color: #eee;

  .hero__slide {
    width: 100%;
    display: none;
    .transform(translate(0, 0));

    &.state--current {
      display: block;
    }

    &.animate--in {
      position: absolute;
      left: 0;
      top: 50%;
    }

    &.animate--out {
      .transform(translate(0, -35px));
      .transition-transform(~".3s ease");
    }
  }

  .hero__title,
  .hero__text {
    .transition(none) !important;
    .animation(none) !important;
  }

  .page-body {
    font-family: @font-family-sans-serif;
  }

  @media screen and (max-width: 1024px) { // Убираем фикс для обложки hero, чтобы правильно тянулось на планшетах и телефонах
    .hero--cover {
      background-attachment: scroll;
    }
  }
}

.layout--flow .page__inner {
  padding-top: 0;
}

// Шаблоны тлогов
.layout--tlog {
  /*&.not-logged {
    .page__inner {
      padding-bottom: 466px;
    }

    .page__paper {
      padding-bottom: 50px;
      position: relative;
      background-color: @white;
      z-index: @zindex-page-paper-not-logged;
    }
  }*/
  .page-body {
    font-family: @font-family-serif;
  }
}

.layout--dynamic-toolbar {
  .toolbar--main {
    &.toolbar--unfixed {
      background: transparent;
      position: relative;
      margin-bottom: -56px;
      box-shadow: none;
      transform: translateY(0px);
      transition: transform 0s;

      .toolbar__main-list-item,
      .toolbar__user-list-item {
        color: @white;
      }

      .toolbar__user-list-item,
      .toolbar__main-list-link {
        color: @white;

        &:hover {
          color: @white;
        }
      }

      .toolbar__main-list-item {
        i.icon.icon--ribbon {
          color: @white;
        }

        .search-field__icon i.icon {
          color: rgba(255,255,255,.4);
        }
      }
    }

    &.toolbar--pinned {
      position: fixed;
      transform: translateY(0px);
      transition: transform .2s ease;
    }

    &.toolbar--unpinned {
      position: fixed;
      transform: translateY(-100%);
      transition: transform .2s ease;

      &.--no-transition {
        transition: transform 0s;
      }
    }
  }
}

// Текстовая страница
.layout--textpage {
  .page__inner {
    padding: 40px 0;
  }

  .page-cover {
    background-color: #c1c5d0;
    background-size: cover;
  }
}

// Посадочный шаблон
.layout--landing {
  background-color: #5d5d5d;
  user-select: none;

  .layout-constrain {
    width: auto;
    padding: 50px 5%;
    .clearfix();
  }

  .logo {
    margin-right: 20px;
    float: left;
  }

  .page {
    height: auto !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .45);

    // Хак для ie10+
    // [#540] Текст в ie10+ обрезается из-за значения "0 1px 1px rgba(0, 0, 0, .45)" свойства text-shadow.
    // Если значение "0 1px 1px 1px rgba(0, 0, 0, .45)", то не обрезается
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      text-shadow: none;
    }
  }

  .layout-outer {
    position: relative;
    z-index: @zindex-content-area-inner;
    text-shadow: initial;
  }


  .page__inner {
    height: 100%;
    padding: 0;
  }

  .page__paper {
    height: 100%;
    padding: 0;
  }

  .page-header {
    width: 100%;
    //position: absolute;
    //top: 0;
    //left: 0;
    z-index: @zindex-landing-page-header;
  }

  .page-body {
    height: 100%;
  }

  .page-footer a {
    color: #fff;
  }

  .page-cover {
    position: fixed;
    background-attachment: scroll;
    background-size: cover;
  }

  .home-title {
    color: #fff;
    text-align: center;
  }

  .auth-button {
    position: relative;
    top: auto;
    right: auto;
  }

  @media only screen and (max-height: 500px) {
    height: 500px;
  }
}

.layout--home {
  background-color: #5d5d5d;
  user-select: none;

  .layout-constrain {
    width: auto;
    padding: 50px 5%;
    .clearfix();
  }

  .logo {
    margin-right: 20px;
    float: left;
  }

  .home-title {
    color: #fff;
    text-align: center;
  }

  .menu--right {
    margin-right: 0;
  }

  .page-cover {
    position: fixed;
    background-attachment: scroll;
    background-size: cover;
  }

  .page-header {
    min-height: 0;
    z-index: @zindex-landing-page-header;
  }

  .page-body {
    font-family: @font-family-sans-serif;
  }

  .auth-button {
    position: relative;
    top: auto;
    right: auto;
  }

  @media screen and (max-width: 1024px) { // Убираем фикс для обложки hero, чтобы правильно тянулось на планшетах и телефонах
    .hero--cover {
      background-attachment: scroll;
    }
  }
}

// Шаблоны только с определённым контентом (восстановление пароля)
.layout--tech {
  .page {
    height: 100% !important;
    text-align: center;
  }

  .page__inner {
    height: 100%;
    padding: 0;
  }

  .page__paper {
    height: 100%;
    padding: 0;
  }

  .logo-ribbon {
    margin: -105px auto 80px;
    display: block;
  }

  .page-cover {
    background-image: url(/images/techpage-bg.gif);
    background-position: 50% 50%;
    background-size: cover;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #2d2d2d;
      opacity: .57;
    }

    & + .page-body {
      .tech-info__icon, .tech-info__number {
        color: rgba(255, 255, 255, .76);
      }

      .tech-info__title {
        color: rgba(255, 255, 255, .94);
      }

      .tech-info__text {
        color: rgba(255, 255, 255, .6);
      }

      .connection-line-i {
        background-color: @white;
      }
    }
  }

  .page-body {
    height: 100%;
  }

  @media only screen and (max-height: 500px) {
    height: 500px;
  }
}


//=====================//
//        LEGACY       //
//=====================//

.tlog-feedcolor-white {
  .page-body {
    color: @black;
  }

  .content-area__bg {
    background-color: @white;
  }

  .settings-design__control--feed-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @black;
    }
  }

  // Эксперимент (Форма комментирования):
  // Когда лента светлая, фон формы делаем чёрным,
  // а цвет - белым
  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: @white;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: @white; }
    &:-ms-input-placeholder       { color: @white; }
    &::-webkit-input-placeholder  { color: @white; }
  }
}

.tlog-feedcolor-black {
  .page-body {
    color: @white;
  }

  .content-area__bg {
    background-color: @black;
  }

  .settings-design__control--feed-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @white;
    }
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(@black), green(@black), blue(@black), .5);
    color: rgba(red(@white), green(@white), blue(@white), .5);
  }

  .content-info__text {
    color: @white;
  }

  // Эксперимент (Форма комментирования):
  // Когда лента тёмная, фон формы делаем белым,
  // а цвет - чёрным
  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: @black;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: @black; }
    &:-ms-input-placeholder       { color: @black; }
    &::-webkit-input-placeholder  { color: @black; }
  }
}

.tlog-fonttype-serif {
  .page-body,
  .settings-design__control--font-type .settings-design__state {
    font-family: @font-family-serif;
  }
}

.tlog-fonttype-sans {
  .page-body,
  .settings-design__control--font-type .settings-design__state {
    font-family: @font-family-sans-serif;
  }
}

.tlog-coveralign-justify {
  .page-cover {
    background-size: 100% auto;
  }
}
.tlog-coveralign-center {
  .page-cover {
    background-position: 50% 0%;
  }
}

.tlog-headercolor-black {
  .hero__head {
    color: @black;
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @black;
    }
  }
}

.tlog-headercolor-white {
  .hero__head {
    color: @white;
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @white;
    }
  }
}

.tlog-headercolor-blackonwhite {
  .hero__head {
    color: @black;
  }

  .hero__title {
    span {
      background: @white;
    }
  }

  .hero__text {
    span {
      background: @white;
    }
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @black;
    }
  }
}

.tlog-headercolor-whiteonblack {
  .hero__head {
    color: @white;
  }

  .hero__title {
    span {
      background: @black;
    }
  }

  .hero__text {
    span {
      background: @black;
    }
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @white;
    }
  }
}

// Когда развёрнут профиль пользователя
.hero-enabled {
  .calendar,
  .nav-types {
    display: none;
  }

  .toolbar--back,
  .toolbar--nav,
  .toolbar--avatar,
  .toolbar--compose,
  .post-actions,
  .back-button,
  .toolbar__indicators {
    top: -85px !important;
    opacity: 0 !important;
  }

  .toolbar--main {
    transform: translateX(-300%) !important;
  }

  .toolbar--close {
    left: 20px;
    opacity: 1;
    transition: left .4s ease .2s;
  }

  .hero {
    margin-bottom: 40px;
    overflow: hidden;
    color: #fff !important;
    transition: height .4s ease, color .4s ease;
  }

  .hero__overlay {
    opacity: .8;
    transition: opacity .4s ease .2s;
  }

  .hero__box {
    padding-bottom: 100px;
  }

  .hero__avatar {
    width: 200px;
    height: 200px;
    cursor: inherit;
    opacity: 1;
    transition: width .4s ease, height .4s ease, opacity .4s ease .2s;

    .avatar__text {
      font-size: 100px;
    }
  }

  .hero__head {
    color: inherit;
  }

  .hero__title {
    font-size: 56px;
    cursor: text;
    opacity: 1;
    .transition(~"font-size .4s ease, opacity .6s ease");
    .animation(~"hero-animate-open .6s 1 ease");

    span {
      background: transparent !important;
    }
  }

  .hero__text {
    font-size: 18px;
    opacity: 1;
    .transition(~"font-size .4s ease, opacity .6s ease");
    .animation(~"hero-animate-open .6s 1 ease");

    span {
      background: transparent !important;
    }
  }

  .hero__gradient,
  .hero__stats {
    bottom: 0;
    visibility: visible;
    opacity: 1;
    .transition(~"bottom .4s ease .2s, visibility 0s ease, opacity .4s ease .2s");
  }

  .hero__actions {
    max-height: 400px;
    padding-top: 20px;
    visibility: visible;
    opacity: 1;
    .transition(~"max-height .4s ease, padding .4s ease, visibility 0s ease, opacity .4s ease .2s");
  }

  .hero {
    .follow-status {
      left: 350px;
      top: 165px;
    }
  }

  .page-header {
    height: 100%;
  }

  @media only screen and (max-height: 520px) {
    .hero__avatar {
      width: 100px;
      height: 100px;

      .avatar__text {
        font-size: 45px;
      }
    }

    .hero__title {
      font-size: 50px;
    }

    .hero {
      .follow-status {
        left: 300px;
        top: 100px;
      }
    }
  }

  @media only screen and (max-height: 400px) {
    .hero__avatar {
      width: 0;
      height: 0;
      font-size: 0;
      .box-shadow(none);
    }

    .hero__title {
      font-size: 46px;
    }

    .hero__text {
      font-size: 16px;
    }

    .hero {
      .follow-status {
        left: 370px;
        top: 38px;
      }
    }
  }
}

// Когда активен выбор типов поста, при написании в редакторе
.types-posts-enabled {
  .post-actions {
    opacity: 0;
  }

  .page-cover,
  .content-area__bg {
    display: none;
  }

  .page-header {
    visibility: hidden;
  }

  .types-posts {
    visibility: visible;
    z-index: @zindex-types-posts-active;
    opacity: 1;
    transition: visibility 0s ease, opacity .3s ease;
  }
}

// Когда выбран определенный тип поста в редакторе
/*.edited-post-text .post--text.post--edit, // Пока комментируем, если будет всё ок, то вообще удалим и
.edited-post-quote .post--quote.post--edit, // тогда можно будет избавится классов edited-post-...
.edited-post-image .post--image.post--edit,
.edited-post-video .post--video.post--edit {
  position: relative;
  visibility: visible;
  z-index: @zindex-post-edit-active;
  opacity: 1;
  transition: visibility 0s ease, opacity .3s ease;
}*/

// Когда активен попап shellbox
.shellbox-enabled {
  background-color: @black;
  overflow: hidden;

  .shellbox {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease 0s, opacity .4s ease 0s;
  }
}

.popup-enabled {
  overflow: hidden;
}

.searchbox-enabled {
  overflow: hidden;
}

// Когда активен попап гайда
.guide-popup-enabled {
  overflow: hidden;

  .toolbar,
  .uv-icon {
    display: none;
  }
}

// Активно окно подтверждения
.confirmation-enabled {
  background-color: @black;
  overflow: hidden;
}

// Режим предпросмотра, когда можно посмотреть, как это будет выглядить в тлоге
.tlog-mode-full,
.designtlog-mode-full {
  .back-button {
    top: @indent-base;
    left: @indent-base;
    opacity: 1;
    color: #bbb !important;
    border-radius: 50%;

    &:hover {
      color: @black !important;
      opacity: 1;
    }
  }
}

// Минималистичный режим создания/редактирования поста (на белом фоне, без шапки тлога)
.tlog-mode-minimal,
.designtlog-mode-minimal {

  &.layout--feed {
    background-color: @white;
  }

  .page-cover,
  .hero {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility 0s ease .3s;
  }

  .page-body {
    color: @black !important;
  }

  .content-area__bg {
    background-color: @white !important;
    opacity: 1 !important;
  }
}
