// Шаблон фида
.layout--feed {
  background-color: #eee;

  .hero__slide {
    width: 100%;
    display: none;
    .transform(translate(0, 0));

    &.state--current {
      display: block;
    }

    &.animate--in {
      position: absolute;
      left: 0;
      top: 50%;
    }

    &.animate--out {
      .transform(translate(0, -35px));
      .transition-transform(~".3s ease");
    }
  }

  .hero__title,
  .hero__text {
    .transition(none) !important;
    .animation(none) !important;
  }

  .content-area {
    font-family: @font-family-sans-serif;
  }

  @media screen and (max-width: 1024px) { // Убираем фикс для обложки hero, чтобы правильно тянулось на планшетах и телефонах
    .hero--cover {
      background-attachment: scroll;
    }
  }
}

// Шаблоны тлогов
.layout--tlog {
  /*&.not-logged {
    .page__inner {
      padding-bottom: 466px;
    }

    .page__paper {
      padding-bottom: 50px;
      position: relative;
      background-color: @white;
      z-index: @zindex-page-paper-not-logged;
    }
  }*/
  .page-body {
    font-family: @font-family-serif;
  }
}

// Текстовая страница
.layout--textpage {
  .page__inner {
    padding: 40px 0;
  }

  .page-cover {
    background-color: #c1c5d0;
    background-size: cover;
  }
}

// Посадочный шаблон
.layout--landing {
  background-color: #5d5d5d;
  user-select: none;

  .layout-constrain {
    width: auto;
    padding: 50px 5%;
    .clearfix();
  }

  .logo {
    margin-right: 20px;
    float: left;
  }

  .page {
    height: 100% !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .45);

    // Хак для ie10+
    // [#540] Текст в ie10+ обрезается из-за значения "0 1px 1px rgba(0, 0, 0, .45)" свойства text-shadow.
    // Если значение "0 1px 1px 1px rgba(0, 0, 0, .45)", то не обрезается
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      text-shadow: none;
    }
  }

  .page__inner {
    height: 100%;
    padding: 0;
  }

  .page__paper {
    height: 100%;
    padding: 0;
  }

  .page-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: @zindex-landing-page-header;
  }

  .page-body {
    height: 100%;
  }

  .auth-button {
    position: relative;
    top: auto;
    right: auto;
  }

  @media only screen and (max-height: 500px) {
    height: 500px;
  }
}

// Шаблоны только с определённым контентом (восстановление пароля)
.layout--tech {
  text-align: center;

  .page {
    height: 100% !important;
  }

  .page__inner {
    height: 100%;
    padding: 0;
  }

  .page__paper {
    height: 100%;
    padding: 0;
  }

  .logo-ribbon {
    margin: -105px auto 80px;
    display: block;
  }

  .page-cover {
    background-image: url(/images/techpage-bg.gif);
    background-position: 50% 50%;
    background-size: cover;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #2d2d2d;
      opacity: .57;
    }

    & + .page-body {
      .tech-info__icon, .tech-info__number {
        color: rgba(255, 255, 255, .76);
      }

      .tech-info__title {
        color: rgba(255, 255, 255, .94);
      }

      .tech-info__text {
        color: rgba(255, 255, 255, .6);
      }

      .connection-line-i {
        background-color: @white;
      }
    }
  }

  .page-body {
    height: 100%;
  }

  @media only screen and (max-height: 500px) {
    height: 500px;
  }
}


//=====================//
//        LEGACY       //
//=====================//

.tlog-feedcolor-white {
  .page-body {
    color: @black;
  }

  .content-area__bg {
    background-color: @white;
  }

  .settings-design__control--feed-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @black;
    }
  }

  // Эксперимент (Форма комментирования):
  // Когда лента светлая, фон формы делаем чёрным,
  // а цвет - белым
  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: @white;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: @white; }
    &:-ms-input-placeholder       { color: @white; }
    &::-webkit-input-placeholder  { color: @white; }
  }
}

.tlog-feedcolor-black {
  .page-body {
    color: @white;
  }

  .content-area__bg {
    background-color: @black;
  }

  .settings-design__control--feed-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @white;
    }
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(@black), green(@black), blue(@black), .5);
    color: rgba(red(@white), green(@white), blue(@white), .5);
  }

  .content-info__text {
    color: @white;
  }

  // Эксперимент (Форма комментирования):
  // Когда лента тёмная, фон формы делаем белым,
  // а цвет - чёрным
  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: @black;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: @black; }
    &:-ms-input-placeholder       { color: @black; }
    &::-webkit-input-placeholder  { color: @black; }
  }
}

.tlog-fonttype-serif {
  .page-body,
  .settings-design__control--font-type .settings-design__state {
    font-family: @font-family-serif;
  }
}

.tlog-fonttype-sans {
  .page-body,
  .settings-design__control--font-type .settings-design__state {
    font-family: @font-family-sans-serif;
  }
}

.tlog-coveralign-justify {
  .page-cover {
    background-size: 100% auto;
  }
}
.tlog-coveralign-center {
  .page-cover {
    background-position: 50% 0%;
  }
}

.tlog-headercolor-black {
  .hero__head {
    color: @black;
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @black;
    }
  }
}

.tlog-headercolor-white {
  .hero__head {
    color: @white;
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @white;
    }
  }
}

.tlog-headercolor-blackonwhite {
  .hero__head {
    color: @black;
  }

  .hero__title {
    span {
      background: @white;
    }
  }

  .hero__text {
    span {
      background: @white;
    }
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @white;
      background-color: @black;
    }
  }
}

.tlog-headercolor-whiteonblack {
  .hero__head {
    color: @white;
  }

  .hero__title {
    span {
      background: @black;
    }
  }

  .hero__text {
    span {
      background: @black;
    }
  }

  .settings-design__control--header-color {
    .settings-design__state-i {
      border-color: @black;
      background-color: @white;
    }
  }
}



//=====================//
//         NEW         //
//=====================//

// Header
// -- Font -- //
.designtlog-headerfont-proximanova {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-base;
  }
}

.designtlog-headerfont-notoserif {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-notoserif;
  }
}

.designtlog-headerfont-comfortaa {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-comfortaa;
  }
}

.designtlog-headerfont-airbornepilot {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-airbornepilot;
  }
}

.designtlog-headerfont-amaranth {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-amaranth;
  }
}

.designtlog-headerfont-beermoney {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-beermoney;
  }
}

.designtlog-headerfont-dancingscript {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-dancingscript;
  }
}

.designtlog-headerfont-greatvibes {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-greatvibes;
  }
}

.designtlog-headerfont-veles {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-veles;
  }
}

.designtlog-headerfont-zion {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-zion;
  }
}

.designtlog-headerfont-nautilus {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-nautilus;
  }
}

.designtlog-headerfont-ospdin {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-ospdin;
  }
}

.designtlog-headerfont-pecita {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-pecita;
  }
}

.designtlog-headerfont-poetsen {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-poetsen;
  }
}

.designtlog-headerfont-yessireebob {
  .design-settings__option--headerfont .design-settings__state,
  .hero__title {
    font-family: @font-family-yessireebob;
  }
}

// -- Size -- //
.designtlog-headersize-small {
  .hero__title {
    font-size: 28px;
  }
}

.designtlog-headersize-middle {
  .hero__title {
    font-size: 46px;
  }
}

.designtlog-headersize-large {
  .hero__title {
    font-size: 75px;
  }
}

// -- Color -- //
.designtlog-headercolor-white {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .hero {
    color: #fff;
  }
}

.designtlog-headercolor-black {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .hero {
    color: #000;
  }
}

.designtlog-headercolor-shamrock {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #2ac67e;
      background-color: #2ac67e;
    }
  }

  .hero {
    color: #2ac67e;
  }
}

.designtlog-headercolor-cinnabar {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .hero {
    color: #e74c3c;
  }
}

.designtlog-headercolor-bluegray {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .hero {
    color: #6c7a89;
  }
}

.designtlog-headercolor-madison {
  .design-settings__option--headercolor {
    .design-settings__state-i {
      border-color: #38434e;
      background-color: #38434e;
    }
  }

  .hero {
    color: #38434e;
  }
}

// Background
// -- Color -- //
.designtlog-bgcolor-white {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .page-cover {
    background-color: #fff;
  }
}

.designtlog-bgcolor-black {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .page-cover {
    background-color: #000;
  }
}

.designtlog-bgcolor-cinnabar {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .page-cover {
    background-color: #e74c3c;
  }
}

.designtlog-bgcolor-silversand {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .page-cover {
    background-color: #c6c9cc;
  }
}

.designtlog-bgcolor-bluegray {
  .design-settings__option--bgcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .page-cover {
    background-color: #6c7a89;
  }
}

// -- Image -- //
.designtlog-bgimage-none {
  .page-cover {
    background-image: none !important;
  }
}

// -- Alignment -- //
.designtlog-bgalignment-justify {
  .page-cover {
    background-size: 100% auto;
  }
}

.designtlog-bgalignment-center {
  .page-cover {
    background-position: 50% 0%;
  }
}

// Feed
// -- Background Color -- //
.designtlog-feedbgcolor-white {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .page-body {
    color: #000;
  }

  .content-area__bg {
    background-color: #fff;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #fff;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: #fff; }
    &:-ms-input-placeholder       { color: #fff; }
    &::-webkit-input-placeholder  { color: #fff; }
  }
}

.designtlog-feedbgcolor-black {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .page-body {
    color: #fff;
  }

  .content-area__bg {
    background-color: #000;
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info__text {
    color: #fff;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

.designtlog-feedbgcolor-cinnabar {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .page-body {
    color: #fff;
  }

  .content-area__bg {
    background-color: #e74c3c;
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

.designtlog-feedbgcolor-silversand {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .page-body {
    color: #000;
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .content-area__bg {
    background-color: #c6c9cc;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #fff;
  }

  .comment-form__field-textarea {
    background-color: rgba(0, 0, 0, .3);

    &::-moz-placeholder           { color: #fff; }
    &:-ms-input-placeholder       { color: #fff; }
    &::-webkit-input-placeholder  { color: #fff; }
  }
}

.designtlog-feedbgcolor-bluegray {
  .design-settings__option--feedbgcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .page-body {
    color: #fff;
  }

  .content-area__bg {
    background-color: #6c7a89;
  }

  .voting,
  .privacy-badge {
    background-color: rgba(red(#000), green(#000), blue(#000), .5);
    color: rgba(red(#fff), green(#fff), blue(#fff), .5);
  }

  .content-info > * {
    color: inherit;
  }

  .content-info__icon {
    opacity: .5;
  }

  .comment-form__field-bg {
    display: none !important;
  }

  .comment-form__field-label {
    color: #000;
  }

  .comment-form__field-textarea {
    background-color: rgba(255, 255, 255, .3);

    &::-moz-placeholder           { color: #000; }
    &:-ms-input-placeholder       { color: #000; }
    &::-webkit-input-placeholder  { color: #000; }
  }
}

// -- Font -- //
.designtlog-feedfont-ptsans {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-sans-serif;
  }
}

.designtlog-feedfont-ptserif {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-serif;
  }
}

.designtlog-feedfont-roboto {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-roboto;
  }
}

.designtlog-feedfont-lora {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-lora;
  }
}

.designtlog-feedfont-philosopher {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-philosopher;
  }
}

.designtlog-feedfont-ptmono {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-ptmono;
  }
}

.designtlog-feedfont-berenisadfpro {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-berenisadfpro;
  }
}

.designtlog-feedfont-djserif {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-djserif;
  }
}

.designtlog-feedfont-heuristica {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-heuristica;
  }
}

.designtlog-feedfont-permian {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-permian;
  }
}

.designtlog-feedfont-robotoslab {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-robotoslab;
  }
}

.designtlog-feedfont-lionel {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-lionel;
  }
}

.designtlog-feedfont-clearsans {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-clearsans;
  }
}

.designtlog-feedfont-museocyr {
  .design-settings__option--feedfont .design-settings__state,
  .page-body {
    font-family: @font-family-museocyr;
  }
}

// -- Color -- //
.designtlog-feedcolor-white {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .page-body {
    color: #fff;
  }
}

.designtlog-feedcolor-black {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #000;
      background-color: #000;
    }
  }

  .page-body {
    color: #000;
  }
}

.designtlog-feedcolor-silversand {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .page-body {
    color: #c6c9cc;
  }
}

.designtlog-feedcolor-bluegray {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .page-body {
    color: #6c7a89;
  }
}

.designtlog-feedcolor-madison {
  .design-settings__option--feedcolor {
    .design-settings__state-i {
      border-color: #38434e;
      background-color: #38434e;
    }
  }

  .page-body {
    color: #38434e;
  }
}


// Когда развёрнут профиль пользователя
.hero-enabled {
  .calendar,
  .nav-types {
    display: none;
  }

  .toolbar--back,
  .toolbar--nav,
  .toolbar--avatar,
  .post-actions,
  .back-button,
  .toolbar__indicators {
    top: -85px !important;
    opacity: 0 !important;
  }

  .toolbar--main {
    transform: translateX(-200%) !important;
  }

  .toolbar--close {
    left: 20px;
    opacity: 1;
    transition: left .4s ease .2s;
  }

  .hero {
    margin-bottom: 40px;
    overflow: hidden;
    color: #fff;
    transition: height .4s ease, color .4s ease;
  }

  .hero__overlay {
    opacity: .8;
    transition: opacity .4s ease .2s;
  }

  .hero__box {
    padding-bottom: 100px;
  }

  .hero__avatar {
    width: 200px;
    height: 200px;
    cursor: inherit;
    opacity: 1;
    transition: width .4s ease, height .4s ease, opacity .4s ease .2s;

    .avatar__text {
      font-size: 100px;
    }
  }

  .hero__head {
    color: inherit;
  }

  .hero__title {
    font-size: 56px;
    cursor: text;
    opacity: 1;
    .transition(~"font-size .4s ease, opacity .6s ease");
    .animation(~"hero-animate-open .6s 1 ease");

    span {
      background: transparent !important;
    }
  }

  .hero__text {
    font-size: 18px;
    opacity: 1;
    .transition(~"font-size .4s ease, opacity .6s ease");
    .animation(~"hero-animate-open .6s 1 ease");

    span {
      background: transparent !important;
    }
  }

  .hero__gradient,
  .hero__stats {
    bottom: 0;
    visibility: visible;
    opacity: 1;
    .transition(~"bottom .4s ease .2s, visibility 0s ease, opacity .4s ease .2s");
  }

  .hero__actions {
    max-height: 400px;
    padding-top: 20px;
    visibility: visible;
    opacity: 1;
    .transition(~"max-height .4s ease, padding .4s ease, visibility 0s ease, opacity .4s ease .2s");
  }

  .hero {
    .follow-status {
      left: 350px;
      top: 165px;
    }
  }

  .page-header {
    height: 100%;
  }

  @media only screen and (max-height: 520px) {
    .hero__avatar {
      width: 100px;
      height: 100px;

      .avatar__text {
        font-size: 45px;
      }
    }

    .hero__title {
      font-size: 50px;
    }

    .hero {
      .follow-status {
        left: 300px;
        top: 100px;
      }
    }
  }

  @media only screen and (max-height: 400px) {
    .hero__avatar {
      width: 0;
      height: 0;
      font-size: 0;
      .box-shadow(none);
    }

    .hero__title {
      font-size: 46px;
    }

    .hero__text {
      font-size: 16px;
    }

    .hero {
      .follow-status {
        left: 370px;
        top: 38px;
      }
    }
  }
}

// Когда активен выбор типов поста, при написании в редакторе
.types-posts-enabled {
  .post-actions {
    opacity: 0;
  }

  .page-cover,
  .content-area__bg {
    display: none;
  }

  .page-header {
    visibility: hidden;
  }

  .types-posts {
    visibility: visible;
    z-index: @zindex-types-posts-active;
    opacity: 1;
    transition: visibility 0s ease, opacity .3s ease;
  }
}

// Когда выбран определенный тип поста в редакторе
/*.edited-post-text .post--text.post--edit, // Пока комментируем, если будет всё ок, то вообще удалим и
.edited-post-quote .post--quote.post--edit, // тогда можно будет избавится классов edited-post-...
.edited-post-image .post--image.post--edit,
.edited-post-video .post--video.post--edit {
  position: relative;
  visibility: visible;
  z-index: @zindex-post-edit-active;
  opacity: 1;
  transition: visibility 0s ease, opacity .3s ease;
}*/

// Когда активен попап shellbox
.shellbox-enabled {
  background-color: @black;
  overflow: hidden;

  .shellbox {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease 0s, opacity .4s ease 0s;
  }
}

// Когда активен попап гайда
.guide-popup-enabled {
  overflow: hidden;

  .toolbar,
  .uv-icon {
    display: none;
  }
}

// Активно окно подтверждения
.confirmation-enabled {
  background-color: @black;
  overflow: hidden;
}

// Режим предпросмотра, когда можно посмотреть, как это будет выглядить в тлоге
.tlog-mode-full {
  .back-button {
    top: @indent-base;
    left: @indent-base;
    opacity: 1;
    color: #bbb !important;
    border-radius: 50%;

    &:hover {
      color: @black !important;
      opacity: 1;
    }
  }
}

// Минималистичный режим создания/редактирования поста (на белом фоне, без шапки тлога)
.tlog-mode-minimal {
  .page-cover,
  .hero {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease, visibility 0s ease .3s;
  }

  .page-body {
    color: @black !important;
  }

  .content-area__bg {
    background-color: @white !important;
    opacity: 1 !important;
  }

  .social-share-facebook-button,
  .social-share-vkontakte-button {
    box-shadow: inset 0 0 0 1px #b7b7b7;
  }
}