
.video-without-cover {
  // В ленте постов embed-ы выходят за рамки, а
  // контейнер не сдвигают
  overflow: hidden;
}

.collage {
  overflow: hidden;
}

.collage__item-img {
  // Отключил потому что это приводит к растягиванию картинок в коллаже
  //max-width: 712px;
}

.video {
  // Центруем groovsharks
  // http://taaasty.ru/@genue/19210594-stream-drunk-on-love-by-rihanna-on-talk-that-talk-for-free-on-grooveshark
  text-align: center;
}

.medium-editor-placeholder {
  &:after {
    white-space: pre;
  }
}

.medium-editor-toolbar,
.medium-editor-toolbar li button {
  background-color: #242424;
}

.popover {
  position: absolute;
  z-index: 10000;
}