// Styles
.account {
  margin-bottom: 15px;

  &.state--active {
    .account__name {
      opacity: 1;
    }

    .account__status {
      opacity: .23;
    }
  }
}

.account__info {
  overflow: hidden;
  .clearfix();
}

.account__actions {
  min-width: 190px;
  margin-left: 20px;
  float: right;
  text-align: right;
}

.account__avatar {
  width: 45px;
  height: 45px;
  margin-right: 18px;
  float: left;
}

.account__desc {
  overflow: hidden;
}

.account__name {
  font-size: 20px;
  line-height: 26px;
  font-family: @font-family-base-light;
  opacity: .17;
  transition: opacity .3s linear;
}

.account__status {
  font-size: 14px;
  line-height: 17px;
  opacity: .07;
  transition: opacity .3s linear;
}