.activity-item {
  position: relative;
}

.activity-item__header {
  display: block;
  position: relative;
  height: 70px;
  font-size: 13px;
  line-height: 1.5em;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.activity-item__avatar-container {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.activity-item__title-container {
  display: inline-block;
  vertical-align: middle;
}

.activity-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-item__created-at {
  color: #888;
}

.activity-item__body {
  position: relative;
  margin: 0 0 15px 60px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.2em;
  border-bottom: 1px solid #ddd;
}

.activity-item__text {

}

.activity-item__image {

}
