.collage {
  .clearfix();
  overflow: hidden;
}

.collage__item {
  position: relative;
  //display: none;
  float: left;
  border: none !important;
  opacity: 1 !important;
}

.post__content {
	.collage__item-img {
	  width: auto;
	  border: none;
	  vertical-align: top;
  }
}

.media-box {
	.collage {
		margin-right: 0;
		margin-left: 0;
		text-align: center; // Для центрирования картинок в редакторе
	}

	// Для центрирования картинок в редакторе
	.collage__item {
		display: inline-block !important;
		float: none;
	}
}