.design-settings {
  position: relative;
  background-color: @design-settings-bg;
  border-radius: 0 0 @design-settings-border-radius @design-settings-border-radius;
  transition: background-color .3s ease;
  overflow: hidden;
  user-select: none;

  &.__draghover {
    background: @design-settings-draghover-bg-base;
    background-color: @design-settings-draghover-bg;

    .design-settings__dragzone {
      display: block;
      z-index: 2;
    }

    .design-settings__options {
      z-index: -1;
      opacity: 0;
    }
  }

  &.__disabled {
    .design-settings__cover {
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: @black;
        z-index: 10;
        opacity: .6;
      }
    }

    .form-upload {
      color: inherit;
    }

    .form-upload__text {
      border: none;
    }

    .form-upload__input {
      cursor: default;
    }
  }

  .form-radiogroup {
    width: 100%;
  }

  .form-range {
    &:extend(.form-range--yellow all);
    width: 142px;
    margin-top: -2px;
  }

  .form-range-value {
    margin-top: -.6em;
    position: absolute;
    right: 0;
    top: 50%;
    color: @yellow;
  }
}

// Dragzone
.design-settings__dragzone {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.design-settings__dragzone-table {
  &:extend(.grid-full all);
}

.design-settings__dragzone-cell {
  &:extend(.grid-full__middle all);
}

.design-settings__dragzone-text {
  padding: 15px;
}

// Presets
.design-settings__presets {
  height: 135px;
  position: relative;
  background-color: #2a2a2a;

  .slider__main:before {
    background: -moz-linear-gradient(left, rgba(42,42,42,1) 0%, rgba(42,42,42,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(42,42,42,1)), color-stop(100%,rgba(42,42,42,0)));
    background: -webkit-linear-gradient(left, rgba(42,42,42,1) 0%,rgba(42,42,42,0) 100%);
    background: -o-linear-gradient(left, rgba(42,42,42,1) 0%,rgba(42,42,42,0) 100%);
    background: -ms-linear-gradient(left, rgba(42,42,42,1) 0%,rgba(42,42,42,0) 100%);
    background: linear-gradient(to right, rgba(42,42,42,1) 0%,rgba(42,42,42,0) 100%);
  }

  .slider__main:after {
    background: -moz-linear-gradient(left, rgba(42,42,42,0) 0%, rgba(42,42,42,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(42,42,42,0)), color-stop(100%,rgba(42,42,42,1)));
    background: -webkit-linear-gradient(left, rgba(42,42,42,0) 0%,rgba(42,42,42,1) 100%);
    background: -o-linear-gradient(left, rgba(42,42,42,0) 0%,rgba(42,42,42,1) 100%);
    background: -ms-linear-gradient(left, rgba(42,42,42,0) 0%,rgba(42,42,42,1) 100%);
    background: linear-gradient(to right, rgba(42,42,42,0) 0%,rgba(42,42,42,1) 100%);
  }

  .slider__btn--left {
    left: 4px;
  }

  .slider__btn--right {
    right: 4px;
  }
}

// Alert
.design-settings__alert {
  &:extend(.grid-full all);
  height: 135px !important;
  position: relative;
  background-color: #2a2a2a;
  color: #fff;
  text-align: center;
}

.design-settings__alert-in {
  &:extend(.grid-full__middle all);
  padding: (@design-settings-indent + 3) @design-settings-indent;
}

.design-settings__alert-clear {
  padding: 6px 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 13px;
  cursor: pointer;
}

.design-settings__alert-text {
  max-height: 44px;
  font-size: 15px;
  line-height: 22px;
  overflow: hidden;
}

.design-settings__alert-button {
  &:extend(.button all);
  .button-size(32px, 15px, 11px);
  margin-top: 8px;
  background-color: @emerald;
  color: #fff !important;

  &:hover {
    background-color: lighten(@emerald, 6%);
  }
}

// Control Groups
.design-settings__groups {
  height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;

  .design-settings__alert + &,
  .design-settings__presets + & {
    margin-top: -135px;
    padding-top: 135px;
  }

  & + .design-settings__save-button {
    margin-top: -50px;
  }
}

.design-settings__group {
  .clearfix;

  & + & {
    border-top: 1px solid @design-settings-divider-border-color;
  }
}

.design-settings__group-header {
  width: 80px;
  padding: (@design-settings-indent + 2) @design-settings-indent;
  float: left;
  font-size: 16px;
  line-height: 22px;
}

.design-settings__group-content {
  margin-left: 110px;
}

// Controls
.design-settings__options {
  position: relative;
  opacity: 1;
  transition: opacity .4s ease;
}

.design-settings__option {
  cursor: default;
  overflow: hidden;

  & + & {
    &:before {
      content: "";
      height: 0;
      margin-left: @design-settings-indent;
      display: block;
      border-top: 1px solid @design-settings-divider-border-color;
    }
  }

  &:extend(.ds-animation-content all);
}

.design-settings__option-content {
  height: @design-settings-option-height;
  margin: 8px @design-settings-indent;
  position: relative;
}

// State
.design-settings__state {
  position: absolute;
  top: 50%;
  right: 0;
  color: @yellow;
}

.design-settings__state-i {
  .inline-block-middle;
}

// Types of the States
.design-settings__state--circlebtn {
  .font-null;
  padding: 4px;
  border: 2px solid transparent;
  border-radius: 50%;

  .design-settings__state-i {
    width: 4px;
    height: 4px;
    border: 8px solid transparent;
    vertical-align: top;
    border-radius: 50%;
  }
}

.design-settings__state--font {
  margin-top: -.6em;
  font-size: 26px;
  line-height: 1;
}

// Text
.design-settings__text {
  .inline-block-middle;
  margin-right: 14px;

  .free {
    margin-left: 5px;
    top: -2px;
  }
}

// Cover
.design-settings__cover {
  .inline-block-middle;
  width: @design-settings-cover-size;
  height: @design-settings-cover-size;
  position: relative;
  background-color: rgba(red(@white), green(@white), blue(@white), .05);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;

  .form-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    line-height: @design-settings-cover-size;
    color: #bbb;
    text-align: center;
    border-radius: 50%;

    .icon {
      font-size: 16px;
      vertical-align: middle;
    }
  }
}

.design-settings__save-button {
  &:extend(.button all, .button--rectangle, .button--block);
  .button-common-style(@emerald);
  height: 50px;
  position: relative;
  line-height: 50px;
  color: #fff;
  border-bottom-right-radius: @design-settings-border-radius;
  border-bottom-left-radius: @design-settings-border-radius;
}

// Helpers of Design Settings
// -- Absolute -- */
.ds-absolute-left,
.ds-absolute-right {
  position: absolute;
  top: 50%;
}

.ds-absolute-left {
  left: 0;
}

.ds-absolute-right {
  right: 0;
}

.form-radiogroup--circlebtns.ds-absolute-left,
.form-radiogroup--circlebtns.ds-absolute-right,
.design-settings__state--circlebtn.ds-absolute-left,
.design-settings__state--circlebtn.ds-absolute-right {
  margin-top: -16px;
}

.design-settings__cover.ds-absolute-left,
.design-settings__cover.ds-absolute-right {
  margin-top: -@design-settings-cover-size/2;
}

.design-settings__text.ds-absolute-left,
.design-settings__text.ds-absolute-right,
.form-radiogroup--dotted.ds-absolute-left,
.form-radiogroup--dotted.ds-absolute-right,
.form-radiogroup--font.ds-absolute-left,
.form-radiogroup--font.ds-absolute-right {
  margin-top: -.6em;
}

.design-settings__text.ds-absolute-right {
  margin-right: 0;
}

// -- Animation -- */
.ds-animation-content {
  &:hover,
  &.__hover {
    .ds-fadeout-down {
      opacity: 0;
      transform: translate(0, 20px);
    }

    .ds-fadein-down {
      opacity: 1;
      transform: translate(0, 0);
    }

    .ds-fadeout-right {
      opacity: 0;
      transform: translate(20px, 0);
    }

    .ds-fadein-left {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.ds-fadeout-down,
.ds-fadein-down,
.ds-fadeout-right,
.ds-fadein-left {
  transition: all .15s ease;
}

.ds-fadeout-down {
  opacity: 1;
  transform: translate(0, 0);
}

.ds-fadein-down {
  opacity: 0;
  transform: translate(0, -20px);
}

.ds-fadeout-right {
  opacity: 1;
  transform: translate(0, 0);
}

.ds-fadein-left {
  opacity: 0;
  transform: translate(20px, 0);
}