.filter-nav-item-active() {
  color: @filter-nav-link-active-color !important;
  border: 1px solid rgba(red(@black), green(@black), blue(@black), .15);
}

.filter-nav {
  // margin-bottom: 44px;
  font-size: 13px;
  line-height: 16px;
  font-family: @font-family-base;
  text-align: center;
}

.filter-nav__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  border-radius: 2em;

  &.state--active {
    .filter-nav__link {
      color: @filter-nav-link-active-color !important;
      border: 1px solid rgba(red(@black), green(@black), blue(@black), .15);
    }
  }
}

.filter-nav__link {
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid transparent;
  color: @filter-nav-link-color !important;
  vertical-align: middle;
  opacity: 1 !important;
  border-radius: 2em;

  &:hover {
    color: @filter-nav-link-active-color !important;
  }

  span& {
    cursor: default;
  }

  .icon {
    vertical-align: middle;
  }
}

.filter-nav__dropdown {
  .make-popover();

  &.state--open {
    visibility: visible;
    opacity: 1;
    .transition-transform(~".3s ease, visibility 0s ease 0s, opacity .3s ease");
  }
}