.form-radiobtn {
  .inline-block-middle;
  position: relative;
  white-space: nowrap;
  user-select: none;

  .pay {
    position: absolute;
    top: -.2em;
    right: -.8em;
    z-index: 1;
  }

  .free {
    position: absolute;
    top: -.4em;
    right: -.8em;
    z-index: 1;
  }
}

.form-radiobtn__input {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + .form-radiobtn__label {
    cursor: pointer;
  }

  &:checked {
    & + .form-radiobtn__label {
      color: @yellow;
    }
  }
}

.form-radiobtn__label {
  display: inline-block;
  transition: all .4s ease;
}

.form-radiobtn__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}