//=====================//
//        LEGACY       //
//=====================//

.form-radiogroup {
  .inline-block-middle;
  user-select: none;
}

// Types
/** Dotted List **/
.form-radiogroup--dotted-list {
  .form-radio {
    margin-left: 14px;
    float: left;

    &:first-child {
      margin-left: 0;

      &:before {
        display: none;
      }
    }

    &:before {
      content: "\b7"; // Разделительная точка
      margin-top: -.75em;
      position: absolute;
      top: 50%;
      left: -9px;
      font-size: 12px;
      color: #888;
      cursor: default;
      pointer-events: none;

    }
  }

  .form-radio--active {
    color: @yellow;
  }
}

/** Radiobuttons **/
.form-radiogroup--radiobuttons {
  .font-null();

  .form-radio {
    margin-right: 8px;
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .form-radio__inner {
    border: 6px solid;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }

  .form-radio__text {
    display: none;
  }

  .form-radio--active {
    border-color: @yellow;
  }
}

/** Header Color **/
.form-radiogroup--header-color {
  .form-radio--black {
    .form-radio__inner {
      border-color: @black;
      background-color: @black;
    }
  }

  .form-radio--white {
    .form-radio__inner {
      border-color: @white;
      background-color: @white;
    }
  }

  .form-radio--black-on-white {
    .form-radio__inner {
      border-color: @white;
      background-color: @black;
    }
  }

  .form-radio--white-on-black {
    .form-radio__inner {
      border-color: @black;
      background-color: @white;
    }
  }
}

/** Feed Color **/
.form-radiogroup--feed-color {
  .form-radio--white {
    .form-radio__inner {
      border-color: @white;
      background-color: @black;
    }
  }

  .form-radio--black {
    .form-radio__inner {
      border-color: @black;
      background-color: @white;
    }
  }
}

/** Type Font **/
.form-radiogroup--type-font {
  font-size: 26px;
  line-height: 1;
  color: @white;

  .form-radio {
    margin-right: 20px;
  }

  .form-radio--active {
    color: @yellow;
  }

  .form-radio--sans-serif {
    font-family: @font-family-sans-serif;
  }

  .form-radio--serif {
    font-family: @font-family-serif;
  }
}

/** Buttons **/
.form-radiogroup--buttons {
  font-size: 16px;

  .form-radio {
    height: 40px;
    margin-left: 10px;
    line-height: 41px;
    border-radius: 4px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid;
      opacity: .1;
      border-radius: 4px;
      transition: border-color .4s ease, opacity .4s ease;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .form-radio:hover,
  .form-radio--active {
    color: @yellow;

    &:before {
      border: 1px solid @yellow;
      opacity: .5;
    }

    .form-radio__box,
    .form-radio__text {
      opacity: 1;
    }
  }

  .form-radio__inner {
    padding: 0 12px;
    display: inline;
  }

  .form-radio__box {
    margin-right: 4px;
    position: relative;
    top: -2px;
    line-height: 1;
    font-family: @icons-name;
    vertical-align: middle;
    opacity: .5;
    transition: opacity .4s ease;
  }

  .form-radio__text {
    opacity: .5;
    transition: opacity .4s ease;
  }

  .form-radio--regular {
    .form-radio__box {
      &:before {
        content: "B"; // TODO: Когда будем использовать, нужно поправить на правильную иконку
      }
    }
  }

  .form-radio--tlogoday {
    .form-radio__box {
      &:before {
        content: "F"; // TODO: Когда будем использовать, нужно поправить на правильную иконку
      }
    }
  }
}




//=====================//
//         NEW         //
//=====================//

.form-radiogroup {
  .inline-block-middle;
  user-select: none;
}

// Types
// -- Dotted -- //
.form-radiogroup--dotted {
  .form-radiobtn {
    margin-right: 14px;
    float: left;

    & + .form-radiobtn {
      &:before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -8px;
        border-right: 2px solid;
        color: #888;
        cursor: default;
        pointer-events: none;
      }
    }

    .pay {
      top: -.6em;
      right: -.9em;
    }

    .free {
      top: -.5em;
      right: -1.2em;
    }
  }
}

// -- Circle Buttons -- //
.form-radiogroup--circlebtns {
  .font-null();

  .form-radiobtn {
    margin-right: 8px;

    .pay {
      right: -.2em;
    }

    .free {
      right: -.8em;
    }
  }

  .form-radiobtn__label {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .form-radiobtn__inner {
    width: 4px;
    height: 4px;
    border: 8px solid;
    border-radius: 50%;
  }

  .form-radiobtn__text {
    display: none;
  }

  .form-radiobtn__input {
    &:checked {
      & + .form-radiobtn__label {
        border-color: @yellow;
      }
    }
  }

  // -- Colors -- //
  .form-radiobtn--white {
    .form-radiobtn__inner {
      border-color: #fff;
      background-color: #fff;
    }
  }

  .form-radiobtn--black {
    .form-radiobtn__inner {
      border-color: #000;
      background-color: #000;
    }
  }

  .form-radiobtn--shamrock {
    .form-radiobtn__inner {
      border-color: #2ac67e;
      background-color: #2ac67e;
    }
  }

  .form-radiobtn--cinnabar {
    .form-radiobtn__inner {
      border-color: #e74c3c;
      background-color: #e74c3c;
    }
  }

  .form-radiobtn--silversand {
    .form-radiobtn__inner {
      border-color: #c6c9cc;
      background-color: #c6c9cc;
    }
  }

  .form-radiobtn--bluegray {
    .form-radiobtn__inner {
      border-color: #6c7a89;
      background-color: #6c7a89;
    }
  }

  .form-radiobtn--madison {
    .form-radiobtn__inner {
      border-color: #38434e;
      background-color: #38434e;
    }
  }

  .form-radiobtn--custom {
    .form-radiobtn__label {
      padding: 2px;
    }

    .form-radiobtn__inner {
      display: none;
    }
  }
}

// -- Covers -- //
.form-radiogroup--covers {
  .form-radiobtn {
    margin-right: 10px;
    position: relative;
  }

  .form-radiobtn__label {
    width: @form-radiobtn-cover-size;
    height: @form-radiobtn-cover-size;
    padding: 4px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 50%;
  }

  .form-radiobtn__inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(red(@white), green(@white), blue(@white), .05);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }

  .form-radiobtn__text {
    display: none;
  }

  .form-radiobtn__input {
    &:checked {
      & + .form-radiobtn__label {
        border-color: @yellow;
      }
    }
  }
}

// -- Font -- //
.form-radiogroup--font {
  font-size: 26px;
  line-height: 1;
  color: @white;

  .form-radiobtn {
    margin-right: 20px;

    .free {
      right: -1.4em;
    }
  }

  .form-radiobtn--proximanova {
    font-family: @font-family-base;
  }

  .form-radiobtn--notoserif {
    font-family: @font-family-notoserif;
  }

  .form-radiobtn--comfortaa {
    font-family: @font-family-comfortaa;
  }

  .form-radiobtn--ptsans {
    font-family: @font-family-sans-serif;
  }

  .form-radiobtn--ptserif {
    font-family: @font-family-serif;
  }

  .form-radiobtn--roboto {
    font-family: @font-family-roboto;
  }

  .form-radiobtn--lora {
    font-family: @font-family-lora;
  }

  .form-radiobtn--philosopher {
    font-family: @font-family-philosopher;
  }

  .form-radiobtn--airbornepilot {
    font-family: @font-family-airbornepilot;
  }

  .form-radiobtn--amaranth {
    font-family: @font-family-amaranth;
  }

  .form-radiobtn--beermoney {
    font-family: @font-family-beermoney;
  }

  .form-radiobtn--dancingscript {
    font-family: @font-family-dancingscript;
  }

  .form-radiobtn--greatvibes {
    font-family: @font-family-greatvibes;

    .form-radiobtn__inner {
      top: .17em;
    }
  }

  .form-radiobtn--veles {
    font-family: @font-family-veles;

    .form-radiobtn__inner {
      top: .13em;
    }
  }

  .form-radiobtn--zion {
    font-family: @font-family-zion;

    .form-radiobtn__inner {
      top: .09em;
    }
  }

  .form-radiobtn--nautilus {
    font-family: @font-family-nautilus;

    .form-radiobtn__inner {
      top: .09em;
    }
  }

  .form-radiobtn--ospdin {
    font-family: @font-family-ospdin;
  }

  .form-radiobtn--pecita {
    font-family: @font-family-pecita;

    .form-radiobtn__inner {
      top: .12em;
    }
  }

  .form-radiobtn--poetsen {
    font-family: @font-family-poetsen;
  }

  .form-radiobtn--yessireebob {
    font-family: @font-family-yessireebob;
  }

  .form-radiobtn--ptmono {
    font-family: @font-family-ptmono;
  }

  .form-radiobtn--berenisadfpro {
    font-family: @font-family-berenisadfpro;

    .form-radiobtn__inner {
      top: .08em;
    }
  }

  .form-radiobtn--djserif {
    font-family: @font-family-djserif;
  }

  .form-radiobtn--heuristica {
    font-family: @font-family-heuristica;

    .form-radiobtn__inner {
      top: .08em;
    }
  }

  .form-radiobtn--permian {
    font-family: @font-family-permian;
  }

  .form-radiobtn--robotoslab {
    font-family: @font-family-robotoslab;
  }

  .form-radiobtn--lionel {
    font-family: @font-family-lionel;
  }

  .form-radiobtn--clearsans {
    font-family: @font-family-clearsans;
  }

  .form-radiobtn--museocyr {
    font-family: @font-family-museocyr;
  }
}

// -- Presets -- //
.form-radiogroup--presets {
  font-size: 26px;
  line-height: 1;
  color: @white;

  .form-radiobtn {
    text-align: center;
  }

  .form-radiobtn__input:checked + .form-radiobtn__label {
    color: #fff;
    box-shadow: inset 0 0 0 4px @yellow;
  }

  .form-radiobtn__label {
    width: 105px;
    height: 105px;
    margin-right: 15px;
    line-height: 105px;
  }

  .form-radiobtn--preset1 {
    .form-radiobtn__label {
      background-color: #2ac67e;
    }
  }

  .form-radiobtn--preset2 {
    .form-radiobtn__label {
      background-color: #e74c3c;
    }
  }

  .form-radiobtn--preset3 {
    .form-radiobtn__label {
      background-color: #c6c9cc;
      color: @black !important;
    }
  }

  .form-radiobtn--preset4 {
    .form-radiobtn__label {
      background-color: #6c7a89;
    }
  }

  .form-radiobtn--preset5 {
    .form-radiobtn__label {
      background-color: #000;
    }
  }
}