.form-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .4s ease;
}

.form-radio__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 2;
}

.form-radio__input {
  position: absolute;
  left: -9999px;
}