.js-custom-select {
  width: 100%;
  border: none;
}

.form-select {
  height: @form-select-height;
  position: relative;
  display: inline-block;
  font-size: @form-select-font-size;
  line-height: @form-select-height;
  font-family: @font-family-base;
  vertical-align: middle;
  text-align: left;
  border-radius: @form-select-border-radius;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    border-radius: @form-select-border-radius;
    opacity: .1;
  }
}

// Select Title
.form-select__title {
  padding: 0 36px 0 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.form-select__title__text {
  white-space: nowrap;
  overflow: hidden;
}

.form-select__title__icon {
  padding: 0 12px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  font-family: @icons-name;
}

.form-select__title__icon:after {
  content: "y"; // TODO: Когда будем использовать, нужно поправить на правильную иконку
  font-style: normal;
  opacity: .3;
}

// Select Dropdown
.form-select__dropdown {
  margin-top: -40px;
  background: @form-select-dropdown-bg;
  overflow: hidden;
  z-index: @zindex-form-select !important;
  border-radius: @form-select-border-radius;
  box-shadow: 0 25px 46px rgba(red(@black), green(@black), blue(@black), .33);
}

.form-select__dropdown__inner::-webkit-scrollbar {
  width: 0;
}

// Select Item
.form-select__item {
  padding: 7px 10px;
  position: relative;
  display: block;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .1);
  font-size: @form-select-font-size;
  font-family: @font-family-base;
  color: rgba(red(@white), green(@white), blue(@white), .3);
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  transition: color .4s ease;

  &:first-child {
    border-top: none;
  }

  &:hover,
  &.selected {
    color: @white;
  }
}