.free {
  padding: 0 .333em;
  position: relative;
  display: inline-block;
  background-color: @free-bg;
  font-size: @free-font-size;
  line-height: @free-line-height;
  font-family: @font-family-base;
  color: @free-color;
  border-radius: .223em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}