.image {
  position: relative;
  text-align: center;
}

.image-loader-spinner {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  text-align: center;
  opacity: 0.5;
}
