.image {
  position: relative;
  text-align: center;
}

.image-loader-spinner {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-lefs: -0.25em;
  }

  text-align: center;
}
