.messages {
  height: @messages-height;
  //overflow: hidden;
  position: relative;

  .scroller {
    height: 100%;
  }

  .button--block {
    .border-radius-top-left(0);
    .border-radius-top-right(0);
  }
}

.messages__popup-title {
  position: relative;
  width: 100%;

  .messages__popup-title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.--with-actions {
      padding-right: 27px;
    }
  }

  .messages__popup-title-actions {
    position: absolute;
    top: 0;
    right: 2px;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;

    .meta-item__common.icon {
      font-size: 17px;
      color: black;
    }

    a.meta-item__dropdown-item {
      color: @white;
      &:hover {
        color: @black;
      }

      .icon {
        &:extend(.meta-item .icon, .meta-item__dropdown .icon);
        margin: 0 12px 0 0;
        left: initial;
        color: inherit;
      }
    }
  }
}

// Message Body
.messages__body {
  height: 100%;
  position: relative;
  background-size: cover;
}

// Message Footer
.messages__footer {
  background-color: #f5f5f5;
  text-align: center;
  overflow: hidden;
  border-radius: 0 0 @messages-border-radius @messages-border-radius;

  .button {
    display: block;
    box-sizing: initial;
    padding: 3px 0;
    border-radius: 0 0 @messages-border-radius @messages-border-radius;
  }
}

// Message Back Button
.messages__back {
  width: 40px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: (@zindex-messages + 2);
  opacity: .8;
  transition: opacity .3s ease;

  &:hover {
    opacity: 1;
  }

  .icon {
    margin: -.5em 0 0 -.5em;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    font-size: 17px;
    color: #999;
    vertical-align: middle;
  }
}

// Message User
.messages__user-avatar {
  width: 35px;
  height: 35px;
  position: absolute;
  display: inline-block;
  top: 12px;
  left: 15px;
}

.messages__user-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  margin-right: 3px;
  margin-bottom: 7px;
  font-weight: bold;
  color: #888;
}

.messages__user-online {
  width: 9px;
  height: 9px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: 2px solid @white;
  background-color: #64c467;
  border-radius: 50%;
}

// Message Counter

.messages__counter() {
  position: absolute;
  right: 14px;
  background-color: #2ba26a;
  font-size: 12px;
  color: @white;
  text-align: center;
  border-radius: 50%;
}

.unread-messages__counter {
  .messages__counter;
  width: 18px;
  height: 18px;
  top: 34px;
}

.unreceived-messages__counter {
  .messages__counter;
  width: 9px;
  height: 9px;
  top: 35px;
}

// Message Dialogs
.messages__dialogs {
  user-select: none;
}

.messages__dialog {
  padding: 12px 60px 12px 65px;
  position: relative;
  border-bottom: 1px solid rgba(red(@black), green(@black), blue(@black), .05);
  background-color: @white;
  cursor: pointer;
  min-height: 40px;
  // Рельсовый sass этого не понимает
  // https://www.honeybadger.io/inspector/p/36627/6074214
  // .transition(~".background-color .3s ease");

  &:hover {
    background-color: #fcfcfc;
  }

  &.state--read {
    .messages__dialog-text {
      color: #888;
    }
  }

  .messages__dialog-text.--public-header {
    height: 40px;
    margin-bottom: 0;
    white-space: nowrap;
    width: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .messages__entry-data-container {
      display: inline-block;
      vertical-align: middle;
    }

    .messages__user-name {
      margin-bottom: 0;
      line-height: 20px;
    }

    .messages__entry-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
    }
  }

  .messages__user-avatar {
    width: 40px;
    height: 40px;
  }

  .messages__date {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 50px;
    line-height: 12px;
    text-align: right;
  }

  .messages__preview-image {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    height: 100%;
    width: 100%;

    .imageloader {
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
    }
  }
}

.messages__dialog-content {
  .clearfix;
  margin-bottom: 6px;
}

.messages__dialog-text {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 2px;
  overflow: hidden;
  word-wrap: break-word;
}

.messages__dialog-media {
  width: 58px;
  margin-right: 12px;
  float: left;

  img {
    width: 100%;
  }
}

.messages__dialog-type {
  color: #979797;
}

.messages__dialog-users {
  margin: 0 -50px 0 -60px;
  padding: 18px 15px 0 15px;
  display: flex;
  align-items: center;

  p {
    .text-overflow;
    font-size: 12px;
    line-height: 18px;
    color: #888;
  }

  &.__short {
    white-space: nowrap;

    .messages__dialog-users-cell:last-child {
      display: block;
    }

    .messages__dialog-user.__extra {
      display: none;
    }
  }
}

.messages__dialog-users-more {
  transition: color .3s ease;
  cursor: pointer;

  &:hover {
    color: #333;
  }
}

.messages__dialog-users-cell {
  &:first-child {
    padding: 4px 14px 0 4px;
  }

  &:last-child {
    display: none;
    flex: 1;
  }
}

.messages__dialog-user {
  width: 30px;
  height: 30px;
  margin: -4px 0 0 -4px;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .messages__dropdown {
    width: 160px;
    margin-top: 0;
    margin-left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    &:after {
      content: "";
      margin-top: -7px;
      position: absolute;
      top: 50%;
      right: 100%;
      left: auto;
      border-width: 7px 7px 7px 0;
      border-style: solid;
      border-color: transparent @popover-bg transparent transparent;
      .font-null();
    }
  }
}

.messages__last-message {
  & > span {
    vertical-align: middle;
  }
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .avatar {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .avatar__text {
    font-size: 12px;
  }
}

.messages__dialog--discussion {
  .meta-item-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    cursor: initial;
  }

  .meta-item--actions {
    position: absolute;
    top: 20px;
    right: 20px;

    a.meta-item__dropdown-item {
      color: @white;

      &:hover {
        color: @black;
      }
    }
  }
}

.messages__notification-button {
  &:extend(.button all);
  width: 26px;
  height: 26px;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  line-height: 26px;
  color: #a1a1a1;

  &:before {
    display: none;
  }

  &:after {
    .transform-origin(50% 50%);
    .transform(rotate(-25deg));
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    right: 4px;
    border-top: 1px solid;
    font-size: 0;
    line-height: 0;
    opacity: .6;
  }

  &:hover {
    color: #777;
  }

  .icon {
    opacity: 1;
    font-size: 16px;
  }

  &.__active {
    &:after {
      display: none;
    }
  }
}

// Message Date
.messages__date {
  display: block;
  clear: both;
  font-size: 12px;
  color: #888;
  transition: color .5s ease;
}

// Dropdown
.messages__dropdown {
  .make-popover();

  &.state--open {
    visibility: visible;
    opacity: 1;
    .transition-transform(~".3s ease, visibility 0s ease 0s, opacity .3s ease");
  }

  .messages__dropdown-item {
    color: #fff;

    &:hover {
      color: #000;
    }
  }
}

// Message Hero
.messages__hero {
  height: 134px;
  position: relative;
  color: @white;
  font-size: 0;
  z-index: 5001;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  border-radius: @messages-border-radius @messages-border-radius 0 0;

  &:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.messages__hero-box {
  width: 90%;
  padding: 20px 0 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.messages__hero-avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
  display: inline-block;
}

.messages__hero-name {
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Message List
.messages__list {
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
}

.messages__list-cell {
  display: table-cell;
  vertical-align: bottom;
}

// Message Bubble
.messages__bubble {
  padding: 6px;
  margin-bottom: 1px;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 13px;
  max-width: 220px;
  border-radius: 3px;

  &:before {
    content: " ";
    width: 25px;
    height: 38px;
    position: absolute;
    top: -18px;
    right: 15px;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    clip: rect(21px, 30px, 45px, 20px);
  }

  a {
    color: inherit !important;

    &:hover {
      border-bottom-color: transparent !important;
    }
  }

  .embeded__image {
    max-width: 100%;
  }

}

// Message Empty
.messages__empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #cacaca;
  text-align: center;

  &:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.messages__empty-text {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

// Message Box
.messages__box {
  padding: 18px 15px;
}

// Message Field
.messages__field {
  margin-bottom: 13px;
  position: relative;
}

// Message Chooser
.messages__chooser {
  margin-bottom: 13px;
  position: relative;

  &.state--open {
    .messages__chooser-dropdown {
      position: relative;
      display: block;
    }
  }

}

.messages__chooser-button {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 5px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    opacity: .1;
    border-radius: 5px;
  }
}

.messages__chooser-button-text {
  opacity: .2;
}

.messages__chooser-dropdown {
  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: @messages-chooser-dropdown-bg;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  z-index: @zindex-messages;
  border-radius: 5px;
}

.messages__chooser-input {
  width: 100%;
  padding: 11px 10px;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

.messages__chooser-loading {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .1);
}

.messages__chooser-empty {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .1);
}

.messages__chooser-result {
  padding: 10px;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .1);
  cursor: pointer;

  &:hover,
  &.state--active {
    .messages__person-name {
      opacity: 1;
    }
  }
}

// Messages Person
.messages__person {
  .clearfix();
}

.messages__person-avatar {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  float: left;
}

.messages__person-name {
  margin-top: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: .6;
  transition: opacity .3s ease;
}

// Messages Hint
.messages__hint {
  font-size: 12px;
  line-height: 16px;
  color: #a3a3a3;
}

// Messages Loading
.messages-loading {
  text-align: center;
  font-size: 14px;
  color: #a3a3a3;

  .messages-loading__header {
    margin-bottom: 10px;
  }
}

// Messages Section
.messages__section {
  width: 100%;
  height: 100%;
  padding-top: 43px;
  position: relative;
  // z-index: @zindex-messages;
  box-sizing: border-box;
}

.messages__section--dialogs {
  padding: 43px 0 46px;
  display: block;
}

.messages__section--thread {
  padding: 43px 0 137px;
  display: flex;
  flex-direction: column;

  .messages__header {
    width: 100%;
    height: 134px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .messages__body {
    flex: 1;

    & > .scroller {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .messages__footer {
    min-height: 137px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .messages__thread-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #101010;
    opacity: .5;
  }

  .messages__dialog {
    cursor: default;

    &.messages__dialog--discussion {
      cursor: pointer;
    }
  }

  &.messages__section--select {
    padding-bottom: 54px;

    .messages__footer {
      min-height: 54px;
    }

    .message-form {
      padding-top: 7px;
    }

    .message-form__button-container {
      text-align: right;
    }

    .message-form__button {
      padding-left: 7px;
      padding-right: 7px;
    }

    .message {
      &.message--to {
        
      }

      &.message--from {
        
      }
    }
  }
}

.message--container {
  position: relative;
  padding: 12px 0;

  &.message--selected {
    background-color: rgba(0, 0, 0, 0.2);
    
    .message__selector {
      background-color: @green;
    }
  }

  &.message--select-mode {
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .message__selector {
      visibility: visible;
    }
  }

}

// Message
.message {
  //margin: 12px 0;
  padding: 0 44px 0 60px;
  position: relative;

  .message__selector {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: @white;
    background-color: @white;
    border-radius: 50%;
  }

  .messages__date {
    color: #fff;
  }

  .messages__text {
    a {
      border-bottom: 1px solid rgba(red(@black), green(@black), blue(@black), .2);
    }
  }

  .messages__img {
    max-width: 220px;
    margin-top: 6px;
    overflow: hidden;
    img {
      width: 100%!important;
      height: 100%!important;
    }
  }
}

.message-form {
  padding: 20px 15px 7px 15px;
  position: relative;
}

.message-form__controls {
  width: 100%;
  height: 100%;
}

.message-form__textarea-container {
  position: relative;
  width: 100%;
  height: 63px;
}

.message-form__textarea {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  background: @white;
  font: inherit;
  border-radius: 4px;
  box-sizing: border-box;
}

.message-form__button-container {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  position: relative;
  height: @button-small-height;
  text-align: left;
}

.message-form__button {
  display: inline-block;
  margin-left: 7px;
  &:extend(.button, .button--small);

  &.--red {
    &:extend(.button--red);
  }

  &.--white {
    &:extend(.button--white);
  }
}

.message-form__button-send {
  float: right;
  &:extend(.button, .button--small, .button--green);

  &.--disabled {
    cursor: no-drop;
    &:extend(.button--grey);
  }
}

.message-form__upload-button-container {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  bottom: 8px; right: 12px;
  width: 24px;
  height: 24px;
}

.message-form__users {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  font-size: 13px;
  color: @grey;
}

.message-form__upload-button {
  position: relative;
  font-size: 24px;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
  transition: opacity 0.3s ease-in;
}

.message-form__upload-input {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; bottom: 0;
  opacity: 0.01;
}

.message-form__media-preview {
  text-align: left;
  margin-top: 7px;
  padding: 0 1px;
}

.message-form__media-preview__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 40px;
  width: 80px;
  margin: 0 7px 7px 0;
  img {
    width: 100%!important;
    height: 100%!important;
  }

  .message-form__media-preview__item-remove {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    cursor: pointer;
    opacity: 0;
    background-color: @black;
    color: @white;
    text-align: center;
    &:hover {
      opacity: 0.6;
    }

    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      font-size: 26px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.message,
.message-form {
  .messages__user-avatar {
    margin-top: 0;
    top: auto;
  }

  .message__textarea {
    .placeholder(#cacaca);
  }
}

.message--to {
  padding: 0 44px 0 60px;

  .message__selector {
    right: 12px;
  }

  .messages__user-avatar {
    left: 15px;
  }

  .messages__user-name {
    color: @white;
  }

  .messages__bubble {
    float: left;
    background-color: #32a16c;
    color: @white;

    &:before {
      left: 15px;
      border-color: #32a16c;
      .transform(rotateY(180deg));
    }

    .messages_img-container {
      text-align: left;
    }

  }

}

.message--from {
  padding: 0 20px 0 44px;

  .message__selector {
    left: 12px;
  }

  .messages__user-avatar {
    right: 15px;
    left: auto;
  }

  .messages__bubble {
    float: right;
    background-color: #f1f1f1;

    &:before {
      right: -25px;
      border-color: #f1f1f1;
    }

    .messages__img-container {
      text-align: right;
    }

  }

  .messages__date {
    text-align: right;
  }

  .message-delivery__status {
    font-size: 10px;
    margin-left: 3px;
  }
}

/*==================================
=            Animations            =
==================================*/

.thread-enter {
  position: absolute;
  .translate(100%, 0);
}
.thread-enter.thread-enter-active {
  .translate(0, 0);
  .transition(.3s ease);
}
.thread-leave {
  position: absolute;
  .translate(0, 0);
}
.thread-leave.thread-leave-active {
  .translate(-100%, 0);
  .transition(.3s ease);
}

.conversations-enter {
  position: absolute;
  .translate(-100%, 0);
}
.conversations-enter.conversations-enter-active {
  .translate(0, 0);
  .transition(.3s ease);
}
.conversations-leave {
  position: absolute;
  .translate(0, 0);
}
.conversations-leave.conversations-leave-active {
  .translate(100%, 0);
  .transition(.3s ease);
}
.new-conversation-enter {
  position: absolute;
  .translate(0, 100%);
}
.new-conversation-enter.new-conversation-enter-active {
  .translate(0, 0);
  .transition(.3s ease);
}
.new-conversation-leave {
  position: absolute;
  .translate(0, 0);
}
.new-conversation-leave.new-conversation-leave-active {
  .translate(0, -100%);
  .transition(.3s ease);
}
/*-----  End of Animations  ------*/


@media (max-height: 600px) {
  .messages {
    height: 520px;
  }
}

@media (max-height: 520px) {
  .messages {
    height: 460px;
  }
}

@media (max-height: 480px) {
  .messages {
    height: 420px;
  }
}

@media (max-height: 440px) {
  .messages {
    height: 360px;
  }
}

@media (max-height: 380px) {
  .messages {
    height: 280px;
  }
}