.nav-types {
  position: fixed;
  bottom: @nav-types-indent;
  left: @nav-types-indent;
  z-index: @zindex-nav-types;
  opacity: 1;
  transition: opacity .3s ease;

  &.state--loading {

    .button {
      opacity: 0.3;
      transition: opacity .3s ease;
    }

    .button.state--active {
      opacity: 1;
    }

  }

  .button {
    margin: 0 5px;
  }
}