.notifications {
  padding: 15px 0;

  .loader {
    text-align: center;
  }
}

.notifications__mark-all-read {
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    margin-left: -0.25em;
    vertical-align: middle;
  }
  padding: 0 0 5px;
  font-size: 13px;
  border-bottom: solid 1px;
  opacity: 0.6;
  cursor: pointer;
  text-align: center;

  &:hover {
    opacity: 1;
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    font-size: 1.4em;
    margin-right: 0.3em;
  }
}

.notification {
  position: relative;

  &.state--unread {
    .notification__read-state {
      background-color: #64c467;
    }

    .notification__user {
      color: #888;
    }

    .notification__action-text {
      color: #888;
    }

    .notification__text {
      color: @notification-text-color;
    }

  }

}

.notification__inner {
  padding: @notification-vertical-padding @notification-horizontal-padding;
  white-space: normal;
  .clearfix();
}

.notifications__list {
  height: 100%;
  position: relative;
  display: block;
  width: 100%;
}

.notification__link {
}

.notification__desc {
  font-size: 13px;
  a {
    color: @black;
    &:hover {
      color: @black;
    }
  }
  overflow: hidden;
}

.notification__image {
  width: 40px;
  margin-left: 15px;
  float: right;

  img {
    width: 100%;
  }
}

.notification__user {
}

.notification__action-text {
}

.notification__text {
}

.notification__date {
  color: #888;
}

.notification__read-state {
  width: 6px;
  height: 6px;
  margin: 14px -100% 0 0;
  position: relative;
  float: left;
  left: -12px;
  border-radius: 50%;
}

.notification__user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  float: left;
}

.notifications__empty {
  padding: 40px 20px;
  color: @white;
  text-align: center;
}
