.pay {
  width: 2.083em;
  height: 2.083em;
  display: inline-block;
  background-color: @pay-bg;
  font-size: 12px;
  line-height: 2.083em;
  font-family: @font-family-base;
  text-transform: uppercase;
  color: @pay-color;
  border-radius: 50%;
}