section.people {
  text-align: center;
}

.people-wrapper {
  position: relative;
  margin: 0 auto;
}

.people__msg-container {
  width: 100%;
  min-height: 50px;
  text-align: center;
}

.people-item {
  position: relative;
  display: inline-block;
  width: @people-item-width;
  height: @people-item-height;
  overflow: hidden;
  margin: @people-item-margins;
  padding: 20px 30px;
  color: @people-item-color;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 3px;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @people-item-fill;
  }
}

.people-item__inner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

a.people-item__link {
  color: inherit;

  &:hover {
    opacity: initial;
  }
}

.people-item__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: @people-item-avatar-size;
  height: @people-item-avatar-size;
  display: block;
}

.people-item__name {
  height: @people-item-avatar-size;
  line-height: @people-item-avatar-size;
  padding-left: @people-item-avatar-size + 10px;
  font-weight: normal;
  font-size: 28px;
  font-family: @font-family-base-light;
  color: @white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.people-item__footer {
  position: absolute;
  top: @people-item-avatar-size;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }
}

.people-item__desc,
.people-item__followers-count,
.people-item__follow-button {
  transition: opacity 0.2s ease;
}

.people-item__desc {
  display: inline-block;
  font-size: 15px;
  line-height: 1.1;
  vertical-align: bottom;
  opacity: 1;
  transition-delay: 0.2s;
}

.people-item__followers-count,
.people-item__follow-button {
  position: absolute;
  bottom: 0;
  opacity: 0.0001;
}

.people-item__followers-count {
  left: 0;
  font-size: 16px;
  line-height: normal;
}

.people-item__followers-text {
  font-size: 0.8em;
}

.people-item__follow-button {
  right: 0;
}
  
.people-recommended__container {
  height: @people-item-height + @line-height-base + 2 * 20px;
  overflow: hidden;
  margin: 20px 0;
}

.people-recommended__title {
  box-sizing: border-box;
  margin: 0 10px 20px;
  font-size: 20px;
  text-align: left;
}

span.people-recommended__get-in {
  margin-left: 10px;
  cursor: pointer;
  font-size: 0.8em;
  color: @people-get-in-color;
}

.people-item:hover {
  .people-item__followers-count,
  .people-item__follow-button {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .people-item__desc {
    opacity: 0.0001;
    transition-delay: 0s;
  }
}

.people-layout {
  .filter-nav {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
  }
}

.container-width-gen(@i) when (@i > 0) {
  @media only screen and (min-width: (40px + 320px * @i)) and (max-width: (40px + (320px * (@i + 1)) - 1px)) {
    .people-wrapper {
      width: 320px * @i;
    }
  }

  .container-width-gen(@i - 1);
}

.container-width-gen(8);
