.persons {
  padding: 20px 0;

  & + .persons-headline {
    padding-top: 6px;
  }
}

// Person
.person {
  padding: 8px 18px;
  cursor: default;
  transition: background .3s linear;

  &:hover {
    background-color: @person-hover-bg;
  }

  button {
    margin-left: 5px;
    padding-right: 22px;
    padding-left: 22px;
  }
}

.person__in {
  width: 100%;
  display: table;
}

.person__avatar {
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;

  .avatar {
    width: 48px;
    height: 48px;
  }
}

.person__desc {
  width: 100%;
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
}

.person__actions {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}

.person__name {
  max-width: 120px;
  font-size: 16px;
  color: @white;
  .text-overflow();
}

.person__count {
  font-size: 12px;
  color: @person-gray-color;
}


// Persons Headline
.persons-headline {
  .clearfix();
  padding: 26px 18px 12px;
  font-size: 16px;

  & + .persons {
    padding-top: 0
  }
}

.persons-headline__left {
  margin: 11px 15px 11px 0;
  color: #71747b;
  overflow: hidden;
}

.persons-headline__right {
  float: right;
}

/*
  Tab with indicator of new items

  =================

  <li class="tabs-nav__item">
      <a class="tabs-nav__link" title="Заявки">
          <span class="tabs-nav__count">5</span> Заявки <span class="new-badge">+1</span>
      </a>
  </li>
*/


/*
  First Tab Panel

  =================

  <div class="persons-headline">
      <div class="persons-headline__right">
          <button class="manage-persons-button">Подписаться на всех</button>
      </div>
      <div class="persons-headline__left">Мы нашли 154 друга</div>
  </div>
  <ul class="persons">...</ul>
  <div class="persons-headline">
      <div class="persons-headline__right">
          <button class="manage-persons-button">Пригласить всех</button>
      </div>
      <div class="persons-headline__left">200 человек еще не в тейсти</div>
  </div>
  <ul class="persons">...</ul>
*/
