.popup-user__list {
  margin: 20px 25px;
  font-size: 16px;
}

.popup-user__list-item {
  margin-bottom: 20px;
}

a.popup-user__link {
  color: @black;

  &:hover {
    color: @black;
  }

  i.icon--gift {
    font-size: 20px;
    margin-top: -12px;
    margin-left: 6px;
  }
}
