.premium-badge {
  &:before {
    content: "PREMIUM";
    display: inline-block;
    vertical-align: middle;
    padding: 2px 4px;
    border-radius: 0;
    color: @premium-color;
    background: @premium-bg;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 9px;
  }

  .popup-user__list-item &:before {
    padding: 4px 8px;
    font-size: 16px;
  }

  .hero__title &:before {
    vertical-align: top;
    margin-top: 18px;
  }

  .people-item__name & {
    display: block;
    line-height: 0;
    transform: translateY(-100%);
  }
}
