// Styles
.scroller {
  position: relative;
  overflow: hidden;
}

.scroller__pane {
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.scroller__track {
  width: 4px;
  position: absolute;
  display: none;
  right: 4px;
  top: 4px;
  bottom: 4px;

  .scroller--tracked & {
    display: block;
  }
}

.scroller__bar {
  width: 4px;
  position: absolute;
  right: 0;
  background: #eee;
  opacity: .36;
  z-index: 1;
  border-radius: 4px;
  transition: opacity .3s ease;

  &:hover,
  &:active {
    opacity: .5;
  }

  .scroller--dark & {
    background: #bbb;

    &:hover,
    &:active {
      opacity: .7;
    }
  }
}

// Types
.scroller--users {
  .scroller__pane {
    height: 304px;
  }
}

.scroller--tags {
  .scroller__pane {
    height: 294px;
  }
}

.scroller--messages {
  .scroller__pane {
    max-height: 500px;
  }
}

.scroller--persons, .scroller-flows {
  height: 100%;

  .scroller__pane {
    height: 100%;
  }
}

.scroller--notifications {
  .scroller__pane {
    max-height: 350px;
  }
}

.scroller--toolbar {
  .scroller__pane {
    max-height: 100%;
  }
}

.scroller--design {
  height: 100%;

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: @zindex-popup + 1;
    backface-visibility: hidden;
  }

  &:before {
    top: 0;
    background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
  }

  &:after {
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0)), color-stop(100%,rgba(51,51,51,1)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
  }

  & > .scroller__pane {
    height: 100%;
  }

  & > .scroller__track {
    z-index: @zindex-popup + 2;
  }
}

.scroller--flows {
  height: 273px;
}

// Responsive height of toolbar's scroller
@media (max-height: 600px) {
  .scroller--toolbar {
    .scroller__pane {
      max-height: 360px;
    }
  }
}

@media (max-height: 520px) {
  .scroller--toolbar {
    .scroller__pane {
      max-height: 315px;
    }
  }
}

@media (max-height: 480px) {
  .scroller--toolbar {
    .scroller__pane {
      max-height: 270px;
    }
  }
}

@media (max-height: 440px) {
  .scroller--toolbar {
    .scroller__pane {
      max-height: 225px;
    }
  }
}

@media (max-height: 380px) {
  .scroller--toolbar {
    .scroller__pane {
      max-height: 180px;
    }
  }
}