.social-share {
  position: fixed;
  top: 50%;
  right: @indent-base;
  z-index: @zindex-social-share;
  transform: translate(0, -50%);
  .fadeIn(2s);

  button {
    margin: 8px 0;
    display: block;
  }
}