.tabs-nav {
  position: relative;
  white-space: nowrap;

  &:after {
    content: "";
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    background: @tabs-nav-linear-gradient;
    pointer-events: none;
  }
}

.tabs-nav__list {
  margin: 0 12px;
  overflow: hidden;
}

.tabs-nav__list:after {
  content: "";
  height: 1px;
  display: block;
  background: @tabs-nav-border-color;
  .font-null();
}

// Item
.tabs-nav__item {
  display: inline-block;
}

.tabs-nav__link {
  padding: 14px 8px 13px;
  margin-bottom: -1px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: inherit;

  &.state--active {
    border-color: @yellow;
    color: @yellow !important;
  }
}

.tabs-nav__count {
  font-size: 12px;
  color: @tabs-nav-gray-color;
  .opacity(.3);
}

// Themes
.tabs-nav--white {
  .tabs-nav__link {
    color: @white;
  }
}