.tabs-nav {
  width: @tabs-nav-width;
  height: 100%;
  background-color: @tabs-nav-bg;
  position: relative;
  float: left;
}

.tabs-nav__list {
  overflow: hidden;
}

// Item
.tabs-nav__link {
  padding: 15px 12px 14px;
  display: block;
  color: inherit;
  overflow: hidden;

  .new-badge {
    margin: -3px 0;
  }

  &.state--active {
    background-color: @yellow;
    color: #2c333b !important;

    .tabs-nav__count {
      color: #363636;
    }
  }
}

.tabs-nav__count {
  margin-left: 6px;
  float: right;
  font-size: 12px;
  color: @tabs-nav-gray-color;
  .opacity(.3);
}

// Themes
.tabs-nav--white {
  .tabs-nav__link {
    color: @white;
  }
}

// Tabs Panel
.tabs-panel {
  height: 100%;
  overflow: hidden;
}

// Новый формат с обёрткой
.tabs-content {
  .tabs-panel {
    display: none;

    &.state--active {
      display: block;
    }
  }
}