.terms-panel__container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s linear .3s;
}

.terms-panel {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;  
  box-sizing: border-box;
  padding: 0px 25px 0 20px;
  border: 1px solid rgba(red(@black), green(@black), blue(@black), .2);
  border-radius: 3px;
  background: @white;
  color: @grey;
  font-size: 16px;
  transform: translateX(100%);
  transition: transform 0.3s ease;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.terms-panel__list {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.terms-panel__item {
  display: inline-block;
  margin-right: 20px;
}

.terms-panel__item-link {
  color: inherit;
}

.terms-panel__container--open {
  &.terms-panel__container {
    visibility: visible;
    transition: visibility 0s linear;
  }

  & .terms-panel {
    transform: translateX(0);
  }
}

.terms-contents {
  h1 {
    margin: 30px 0;
  }

  h2 {
    margin: 20px 0;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px
  }

  li {
    margin: 10px 0;
  }
}
