.text-content {
  font-size: 18px;
  line-height: 1.389em;

  h1, h2, h3 {
    font-weight: normal;
  }

  h1 {
    margin-bottom: .571em;
    font-size: 1.944em;
    line-height: 1.086em;
  }

  blockquote {
    margin-bottom: .769em;
    font-size: 1.444em;
    line-height: 1.269em;
  }

  h2 {
    margin-bottom: .6em;
    font-size: 1.765em;
    line-height: 1.133em;
  }

  h3 {
    margin-bottom: .692em;
    font-size: 1.529em;
    line-height: 1.154em;
  }

  h4 {
    margin-bottom: .818em;
    font-size: 1.294em;
    line-height: 1.273em;
  }

  h6 {
    margin-bottom: 1.071em;
    font-size: .778em;
    line-height: 1.429em;
  }

  h5, p, ol, ul {
    margin-bottom: .833em;
    font-size: 1em;
    line-height: 1.389em;
  }

  ul, ol {
    padding: 0 0 0 40px;
  }

  ul {
    list-style-type: square;
  }

  li {
    margin: .4em 0;
    position: relative;
  }

  & > ol {
    & > li {
      list-style-type: decimal;

      &:before {
        position: absolute;
        top: -99999px !important;
        left: -99999px !important;
      }
    }
  }

  ol {
    counter-reset: listFirst;
  }

  ol li {
    &:before {
      counter-increment: listFirst;
      content: counter(listFirst) ". ";
      width: 70px;
      position: absolute;
      top: 0;
      left: -80px;
      text-align: right;
    }
  }

  ol ol {
    counter-reset: listSecond;
  }

  ol ol li {
    list-style-type: none !important;
    list-style-type: decimal;

    &:before {
      counter-increment: listSecond;
      content: counter(listFirst) "." counter(listSecond) ". ";
      display: block;
    }
  }

  ol ol ol {
    counter-reset: listThird;
  }

  ol ol ol li {
    &:before {
      counter-increment: listThird;
      content: counter(listFirst) "." counter(listSecond) "." counter(listThird) ". ";
    }
  }

  a {
    border-bottom: 1px solid;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}