.popup--onboarding {
  width: 500px;
}

.user-onboarding__header {
  padding: 30px 40px;
  background: @grey;
  color: @black;
  text-align: center;
  font-size: 20px;
}

.user-onboarding__spinner-container {
  &:before {
    content: "";
    height: 100%;
    .inline-block-middle();
  }
  height: 512px;
  width: 100%;
  text-align: center;
}

.user-onboarding__list {
  box-sizing: border-box;
  height: 494px;
  padding-bottom: 18px;

  &.--has-more {
    height: 436px;
    padding-bottom: 0;
  }
}
