.voting-container {
  position: relative;
}

.voting {
  min-width: 21px;
  margin-right: 10px;
  padding: 6px 6px 5px;
  position: absolute;
  display: inline-block;
  float: left;
  top: .05em;
  left: -60px;
  background-color: rgba(red(@white), green(@white), blue(@white), .5);
  font-size: @voting-font-size;
  line-height: @voting-line-height;
  font-family: @font-family-base;
  color: @voting-color;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  z-index: @zindex-voting;
  border-radius: @voting-border-radius;
  user-select: none;
  transition: background .4s ease, opacity .4s ease, color .4s ease;

  &:before {
    .icon;
    margin: -5px 3px -3px 0;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    transition: color .4s ease;
    opacity: .9;
  }

  .ico-like; // :before - иконка огня

  &.voted {
    &:before {
      color: @voting-fill-color;
    }

    cursor: default;
    .ico-like-fill; // :before - иконка заполненного огня
  }

  &.unvotable {
    cursor: default;
    .ico-like-fill; // :before - иконка заполненного огня
  }

  &.votable {
    &:hover {
      &:before {
        color: @voting-fill-color;
      }

      .ico-like-fill; // :before - иконка заполненного огня
    }
  }
}
