// Настройки дизайна тлога

/* Вспомогательные классы, как placeholder selectors в sass (используем только для расширения)
 *
 * ----------------------------------------------------------------------
 * | .link-design, .link-design-default, .link-design-default-active,   |
 * | .link-design-feedcolor-white, .link-design-feedcolor-white-active, |
 * | .link-design-feedcolor-black, .link-design-feedcolor-black-active  |
 * ----------------------------------------------------------------------
 */

a {
  &:extend(.link-design all);
}

.link-design-default {
  color: @grey;
}

.link-design-default-active {
  color: darken(@grey, 14%);
}

.link-design-feedcolor-white {
  &:extend(.link-design-default all);
}

.link-design-feedcolor-white-active {
  &:extend(.link-design-default-active all);
}

.link-design-feedcolor-black {
  color: #777;
}

.link-design-feedcolor-black-active {
  color: lighten(#777, 14%);
}

// Светлая тема тлога
.design-feedcolor-white {
  .layout {
    background-color: @white;
  }

  .layout__body {
    color: @black;

    .link-design {
      &:extend(.link-design-feedcolor-white all);
    }

    .link-design:active {
      &:extend(.link-design-feedcolor-white-active all);
    }
  }
}

// Темная тема тлога
.design-feedcolor-black {
  .layout {
    background-color: #1e1e1e;
  }

  .layout__body {
    color: @white;

    .link-design {
      &:extend(.link-design-feedcolor-black all);
    }

    .link-design:active {
      &:extend(.link-design-feedcolor-black-active all);
    }
  }

  .meta-item-button {
    border-color: #323232;
  }
}

// Шрифт тлога - с засечками
.design-fonttype-serif {
  .post {
    font-family: @font-family-serif;
  }
}

// Шрифт тлога - без засечек
.design-fonttype-sans {
  .post {
    font-family: @font-family-sans-serif;
  }
}

// Темы для шапки тлога
.design-headercolor-black {
  .hero {
    color: @black;
  }
}

.design-headercolor-white {
  .hero {
    color: @white;
  }
}

.design-headercolor-blackonwhite {
  .hero {
    color: @black;
  }

  .hero__title {
    span {
      background: @white;
    }
  }

  .hero__text {
    span {
      background: @white;
    }
  }
}

.design-headercolor-whiteonblack {
  .hero {
    color: @white;
  }

  .hero__title {
    span {
      background: @black;
    }
  }

  .hero__text {
    span {
      background: @black;
    }
  }
}