// Настройки дизайна тлога

/* Вспомогательные классы, как placeholder selectors в sass (используем только для расширения)
 *
 * ----------------------------------------------------------------------
 * | .link-design, .link-design-default, .link-design-default-active,   |
 * | .link-design-feedcolor-white, .link-design-feedcolor-white-active, |
 * | .link-design-feedcolor-black, .link-design-feedcolor-black-active  |
 * ----------------------------------------------------------------------
 */

a {
  &:extend(.link-design all);
}

.link-design-default {
  color: @grey;
}

.link-design-default-active {
  color: darken(@grey, 14%);
}

.link-design-feedcolor-white {
  &:extend(.link-design-default all);
}

.link-design-feedcolor-white-active {
  &:extend(.link-design-default-active all);
}

.link-design-feedcolor-black {
  color: #777;
}

.link-design-feedcolor-black-active {
  color: lighten(#777, 14%);
}

// Светлая тема тлога
.design-feedcolor-white {
  .layout {
    background-color: @white;
  }

  .layout__body {
    color: @black;

    .link-design {
      &:extend(.link-design-feedcolor-white all);
    }

    .link-design:active {
      &:extend(.link-design-feedcolor-white-active all);
    }
  }
}

// Темная тема тлога
.design-feedcolor-black {
  .layout {
    background-color: #1e1e1e;
  }

  .layout__body {
    color: @white;

    .link-design {
      &:extend(.link-design-feedcolor-black all);
    }

    .link-design:active {
      &:extend(.link-design-feedcolor-black-active all);
    }
  }

  .meta-item-button {
    border-color: #323232;
  }
}

// Шрифт тлога - с засечками
.design-fonttype-serif {
  .post {
    font-family: @font-family-serif;
  }
}

// Шрифт тлога - без засечек
.design-fonttype-sans {
  .post {
    font-family: @font-family-sans-serif;
  }
}

// Темы для шапки тлога
.design-headercolor-black {
  .hero {
    color: @black;
  }
}

.design-headercolor-white {
  .hero {
    color: @white;
  }
}

.design-headercolor-blackonwhite {
  .hero {
    color: @black;
  }

  .hero__title {
    span {
      background: @white;
    }
  }

  .hero__text {
    span {
      background: @white;
    }
  }
}

.design-headercolor-whiteonblack {
  .hero {
    color: @white;
  }

  .hero__title {
    span {
      background: @black;
    }
  }

  .hero__text {
    span {
      background: @black;
    }
  }
}








//=====================//
//         NEW         //
//=====================//

// Header
// -- Font -- //
.designtlog-headerfont-proximanova {
  .hero__title {
    font-family: @font-family-base;
  }
}

.designtlog-headerfont-notoserif {
  .hero__title {
    font-family: @font-family-notoserif;
  }
}

.designtlog-headerfont-comfortaa {
  .hero__title {
    font-family: @font-family-comfortaa;
  }
}

.designtlog-headerfont-airbornepilot {
  .hero__title {
    font-family: @font-family-airbornepilot;
  }
}

.designtlog-headerfont-amaranth {
  .hero__title {
    font-family: @font-family-amaranth;
  }
}

.designtlog-headerfont-beermoney {
  .hero__title {
    font-family: @font-family-beermoney;
  }
}

.designtlog-headerfont-dancingscript {
  .hero__title {
    font-family: @font-family-dancingscript;
  }
}

.designtlog-headerfont-greatvibes {
  .hero__title {
    font-family: @font-family-greatvibes;
  }
}

.designtlog-headerfont-veles {
  .hero__title {
    font-family: @font-family-veles;
  }
}

.designtlog-headerfont-zion {
  .hero__title {
    font-family: @font-family-zion;
  }
}

.designtlog-headerfont-nautilus {
  .hero__title {
    font-family: @font-family-nautilus;
  }
}

.designtlog-headerfont-ospdin {
  .hero__title {
    font-family: @font-family-ospdin;
  }
}

.designtlog-headerfont-pecita {
  .hero__title {
    font-family: @font-family-pecita;
  }
}

.designtlog-headerfont-poetsen {
  .hero__title {
    font-family: @font-family-poetsen;
  }
}

.designtlog-headerfont-yessireebob {
  .hero__title {
    font-family: @font-family-yessireebob;
  }
}

// -- Color -- //
.designtlog-headercolor-white {
  .hero {
    color: #fff;
  }
}

.designtlog-headercolor-black {
  .hero {
    color: #000;
  }
}

.designtlog-headercolor-shamrock {
  .hero {
    color: #2ac67e;
  }
}

.designtlog-headercolor-cinnabar {
  .hero {
    color: #e74c3c;
  }
}

.designtlog-headercolor-bluegray {
  .hero {
    color: #6c7a89;
  }
}

.designtlog-headercolor-madison {
  .hero {
    color: #38434e;
  }
}

// Background
// -- Color -- //
.designtlog-bgcolor-white {
  .layout {
    background-color: #fff;
  }
}

.designtlog-bgcolor-black {
  .layout {
    background-color: #000;
  }
}

.designtlog-bgcolor-cinnabar {
  .layout {
    background-color: #e74c3c;
  }
}

.designtlog-bgcolor-silversand {
  .layout {
    background-color: #c6c9cc;
  }
}

.designtlog-bgcolor-bluegray {
  .layout {
    background-color: #6c7a89;
  }
}

// -- Image -- //
.designtlog-bgimage-none {
  .hero {
    background-image: none !important;
  }

  .hero__overlay {
    display: none;
  }
}

// Feed
// -- Background Color -- //
.designtlog-feedbgcolor-white {
  .layout__body {
    background-color: #fff;
    color: #000;
  }
}

.designtlog-feedbgcolor-black {
  .layout__body {
    background-color: #000;
    color: #fff;
  }
}

.designtlog-feedbgcolor-cinnabar {
  .layout__body {
    background-color: #e74c3c;
    color: #fff;
  }
}

.designtlog-feedbgcolor-silversand {
  .page-body {
    background-color: #c6c9cc;
    color: #000;
  }
}

.designtlog-feedbgcolor-bluegray {
  .layout__body {
    background-color: #6c7a89;
    color: #fff;
  }
}

// -- Font -- //
.designtlog-feedfont-ptsans {
  .post {
    font-family: @font-family-sans-serif;
  }
}

.designtlog-feedfont-ptserif {
  .post {
    font-family: @font-family-serif;
  }
}

.designtlog-feedfont-roboto {
  .post {
    font-family: @font-family-roboto;
  }
}

.designtlog-feedfont-lora {
  .post {
    font-family: @font-family-lora;
  }
}

.designtlog-feedfont-philosopher {
  .post {
    font-family: @font-family-philosopher;
  }
}

.designtlog-feedfont-ptmono {
  .post {
    font-family: @font-family-ptmono;
  }
}

.designtlog-feedfont-berenisadfpro {
  .post {
    font-family: @font-family-berenisadfpro;
  }
}

.designtlog-feedfont-djserif {
  .post {
    font-family: @font-family-djserif;
  }
}

.designtlog-feedfont-heuristica {
  .post {
    font-family: @font-family-heuristica;
  }
}

.designtlog-feedfont-permian {
  .post {
    font-family: @font-family-permian;
  }
}

.designtlog-feedfont-robotoslab {
  .post {
    font-family: @font-family-robotoslab;
  }
}

.designtlog-feedfont-lionel {
  .post {
    font-family: @font-family-lionel;
  }
}

.designtlog-feedfont-clearsans {
  .post {
    font-family: @font-family-clearsans;
  }
}

.designtlog-feedfont-museocyr {
  .post {
    font-family: @font-family-museocyr;
  }
}

// -- Color -- //
.designtlog-feedcolor-white {
  .layout__body {
    color: #fff;
  }
}

.designtlog-feedcolor-black {
  .layout__body {
    color: #000;
  }
}

.designtlog-feedcolor-silversand {
  .layout__body {
    color: #c6c9cc;
  }
}

.designtlog-feedcolor-bluegray {
  .layout__body {
    color: #6c7a89;
  }
}

.designtlog-feedcolor-madison {
  .layout__body {
    color: #38434e;
  }
}