.auth-page {
  height: 100%;
  background-color: #323039;

  body {
    height: 100%;
    color: @white;
  }
}

.feed-page {
  .hero {
    height: 200px;
  }

  .hero__overlay {
    opacity: .6;
  }

  .hero__title {
    font-size: 30px;
  }

  .post {
    font-family: @font-family-sans-serif;
  }
}

.post-editor-page {
  .layout {
    transform: none;
  }

  .layout__body {
    padding: 0;
  }

  .post--image {
    &:first-child {
      .media-image {
        margin-top: 0;
      }
    }
  }

  .post--video {
    &:first-child {
      .media-video {
        margin-top: 0;
      }
    }
  }
}

.messages-page {
  &,
  body,
  .layout,
  .layout__body,
  .messages,
  .messages__section,
  .messages__body {
    height: 100%;
  }

  .messages__section {
    padding-top: 42px;
  }

  .messages__section--thread {
    padding-bottom: 47px;
  }

  .messages__section--dialogs {
    padding-bottom: 64px;
  }

  .messages__header {
    margin-top: -42px;
  }
}

.error-page {
  height: 100%;

  body {
    height: 100%;
  }

  .layout,
  .layout__body {
    height: 100%;
  }
}