// Когда открыт Feed Toolbar
.feed-toolbar-open {
  overflow: hidden;

  body,
  .error {
    overflow: hidden;
  }

  .layout,
  .error,
  .messages {
    left: @toolbar-popup-width;
    //transform: translateX(@toolbar-popup-width);
  }

  .toolbar--feed {
    .toolbar__toggle {
      //transform: translateX(@toolbar-popup-width);
      left: @indent-base + @toolbar-popup-width;

      .icon {
        .toolbar-toogle-active;
      }
    }
  }

  .toolbar--user {
    .toolbar__toggle {
      //transform: translateX(@toolbar-popup-width);
      display: none;
    }
  }
}

// Когда открыт User Toolbar
.user-toolbar-open {
  overflow: hidden;

  body,
  .error {
    overflow: hidden;
  }

  .layout,
  .error,
  .messages {
    left: -@toolbar-popup-width;
    //transform: translateX(-@toolbar-popup-width);
  }

  .toolbar--user {
    .toolbar__toggle {
      //transform: translateX(-@toolbar-popup-width);
      right: (@indent-base + @toolbar-popup-width);

      .icon {
        .toolbar-toogle-active;
      }
    }
  }

  .toolbar--feed {
    .toolbar__toggle {
      //transform: translateX(-@toolbar-popup-width);
      display: none;
    }
  }
}

// Когда развёрнут профиль пользователя
.hero-enabled {
  overflow: hidden;

  body {
    overflow: hidden;
  }

  .toolbar--user .toolbar__toggle,
  .toolbar--feed .toolbar__toggle,
  .auth-button {
    display: none;
  }

  .hero {
    color: @white !important;

    .follow-status {
      right: -@follow-status-size/2;
      bottom: 0;
    }
  }

  .hero__close {
    display: block;
  }

  .hero__overlay {
    opacity: .8;
  }

  .hero__content {
    padding-bottom: 80px;
  }

  .hero__avatar {
    width: 0;
    height: 0;
    cursor: inherit;

    .avatar__text {
      font-size: 0;
    }
  }

  .hero__title {
    font-size: 32px;
    cursor: text;

    span {
      background: transparent !important;
    }
  }

  .hero__text {
    span {
      background: transparent !important;
    }
  }

  .hero__gradient,
  .hero__stats,
  .hero__text,
  .hero__actions {
    display: block;
  }

  .hero__text {
    overflow: hidden;
    opacity: .4;
  }

  @media only screen and (min-height: 360px) {
    .hero__avatar {
      width: 100px;
      height: 100px;

      .follow-status {
        right: 5px;
        bottom: 5px;
      }

      .avatar__text {
        font-size: 34px;
      }
    }

    .hero__title {
      font-size: 34px;
    }
  }

  @media only screen and (min-height: 570px) {
    .hero {
      .follow-status {
        right: 14px;
        bottom: 14px;
      }
    }

    .hero__avatar {
      width: 178px;
      height: 178px;

      .avatar__text {
        font-size: 36px;
      }
    }

    .hero__title {
      font-size: 36px;
    }

    .hero__stats {
      padding-bottom: 30px;
    }
  }
}