// TODO: Перебрать все цвета
// Colors
@white: #fff;

@yellow: #f8c700;

@green-lighter: #77b97e;
@green-light: #24b166;
@green: #32a16c;
@green-dark: #2d9161;

@grey: #b2b2b2;
@grey-dark: #999;
@grey-darker: #707070;
//@grey-darkest: darken(@grey, 40%); // #4c4c4c

@black: #000;

@color-base: @black;
@color-placeholder: @grey-darker;

@color-divider: #f1f1f1;

// Fonts
@font-family-serif: @font-family-ptserif;
@font-family-sans-serif: @font-family-ptsans;
@font-family-base: 'Proxima Nova', Arial, 'Helvetica Neue', Helvetica, sans-serif;
@font-family-base-light: 'Proxima Nova Light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
@font-family-monospace: monospace;

// -- Google Fonts -- //
@font-family-ptserif: 'PT Serif', Georgia, serif;
@font-family-ptsans: 'PT Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
@font-family-notoserif: 'Noto Serif', serif;
@font-family-comfortaa: 'Comfortaa', cursive;
@font-family-roboto: 'Roboto', sans-serif;
@font-family-lora: 'Lora', serif;
@font-family-philosopher: 'Philosopher', sans-serif;

// -- Webfont -- //
@font-family-airbornepilot: 'Airborne pilot';
@font-family-amaranth: 'Amaranth';
@font-family-beermoney: 'Beer money';
@font-family-dancingscript: 'Dancing Script';
@font-family-greatvibes: 'Great Vibes';
@font-family-veles: 'Veles';
@font-family-zion: 'ZionTrain';
@font-family-nautilus: 'Nautilus Pompilius';
@font-family-ospdin: 'OSP-DIN';
@font-family-pecita: 'Pecita';
@font-family-poetsen: 'PoetsenOne';
@font-family-yessireebob: 'Yes siree bob';

@font-family-ptmono: 'PT Mono';
@font-family-berenisadfpro: 'Berenis ADF Pro';
@font-family-djserif: 'DejaVu Serif Condensed';
@font-family-heuristica: 'Heuristica';
@font-family-permian: 'Permian Slab Serif';
@font-family-robotoslab: 'Roboto Slab';
@font-family-lionel: 'Lionelofparis';
@font-family-clearsans: 'Clear Sans';
@font-family-museocyr: 'Museo Sans Cyr';

// TODO: Основной размер шрифта для мобильной лучше выбрать 16px/22px
@font-size-xxs: 12px;
@font-size-xs: 14px;
@font-size-sm: 16px;
@font-size-base: 18px;
@font-size-lg: 20px;
@font-size-xl: 22px;

@line-height-xxs: 1.5em; // 12px/18px
@line-height-xs: 1.429em; // 14px/20px
@line-height-sm: 1.375em; // 16px/22px
@line-height-base: 1.223em;

// Icons
@icons-path: @fonts-path;
@icons-name: 'tastyicons';

/*--------------------------*/

// Z-indexes
@zindex-media-video-embed: 2;
@zindex-follow-status: 2;
@zindex-dropdown-popup: 150;
@zindex-auth-button: 150;
@zindex-toolbar: 200;
@zindex-notifications-refresh: @zindex-toolbar;
@zindex-alert: 5000;

// Indents
@indent-base: 12px;

// Border Radiuses
@border-radius-small: 3px;
@border-radius-base:  4px;
@border-radius-large: 6px;

// Form Field
@form-field-font-size: 16px;
@form-field-line-height: 22px;

@form-field-error-color: #f00;

// Buttons
@button-border-radius: @border-radius-small;

@button-extra-small-height: 32px;
@button-small-height: @button-middle-height;
@button-middle-height: 40px;
@button-large-height: 48px;

@button-extra-small-padding-horizontal: 1em;
@button-small-padding-horizontal: @button-middle-padding-horizontal;
@button-middle-padding-horizontal: 18px;
@button-large-padding-horizontal: 28px;

@button-extra-small-font-size: 12px;
@button-small-font-size: 11px;
@button-middle-font-size: 13px;
@button-large-font-size: @button-middle-font-size;

// Cicle Button
@button-circle-size: 42px;

// Follow Button
@follow-button-border-color: rgba(red(@white), green(@white), blue(@white), .3);

@follow-button-hover-border-color: rgba(red(@white), green(@white), blue(@white), .6);

@follow-button-active-bg: #36b377;
@follow-button-active-hover-bg: #ed4545;
@follow-button-active-click-bg: #ce3e3e;

// Person Follow Button
@person-follow-button-border-color-opacity: .1;
@person-follow-button-border-color: rgba(red(@white), green(@white), blue(@white), @person-follow-button-border-color-opacity);
@person-follow-button-color-opacity: .2;
@person-follow-button-color: rgba(red(@white), green(@white), blue(@white), @person-follow-button-color-opacity);

// Hero Button
@hero-button-border-color-opacity: .3;
@hero-button-border-color: rgba(red(@white), green(@white), blue(@white), @hero-button-border-color-opacity);
@hero-button-border-color-hover-opacity: .6;
@hero-button-border-color-hover: rgba(red(@white), green(@white), blue(@white), @hero-button-border-color-hover-opacity);

@hero-button-color: @white;
@hero-button-color-hover: @white;

// Manage
@manage-subscriptions-button-bg: #36b377;

// Load More Button
@load-more-button-height: 66px;

@load-more-button-font-size: 16px;
@load-more-button-line-height: @load-more-button-height;

@load-more-button-bg: lighten(@black, 15%);
@load-more-button-color: @grey;

// Spinner
@spinner-sizes: 8, 14, 24, 30; // px
@spinner-border-widths: 2, 2, 2, 2; // px

// Follow Status
@follow-status-size: @font-size-xl; // 22px
@follow-status-color: @white;

@follow-status-default-bg: #bbb;
@follow-status-friend-bg: #38a870;
@follow-status-ignored-bg: #f3534b;
@follow-status-guessed-bg: #fda432;
@follow-status-requested-bg: #fda432;

// Dropdown
@dropdown-popup-width: 244px;
@dropdown-popup-border-radius: @border-radius-base;

@dropdown-popup-bg-base: #333;
@dropdown-popup-bg-opacity: .93;
@dropdown-popup-bg: rgba(red(@dropdown-popup-bg-base), green(@dropdown-popup-bg-base), blue(@dropdown-popup-bg-base), @dropdown-popup-bg-opacity);

@dropdown-popup-font-size: @font-size-xs;
@dropdown-popup-line-height: ceil((@dropdown-popup-font-size * 1.4)); // ~20px

// Alerts
@alert-font-size: @font-size-xs;
@alert-line-height: @line-height-xs;

@alert-default-bg: #e1e1e1;
@alert-success-bg: @green-light;
@alert-error-bg: #eb4656;

// Toolbar
@toolbar-size: 42px;

@toolbar-bg-base: #252525;
@toolbar-bg-base-opacity: .72;
@toolbar-bg: rgba(red(@toolbar-bg-base), green(@toolbar-bg-base), blue(@toolbar-bg-base), @toolbar-bg-base-opacity);

@toolbar-popup-width: 240px;
@toolbar-popup-bg: #222;

@toolbar-item-highlight-bg: #f5f5f5;

// Hero
@hero-min-height: 192px;
@hero-overlay-bg: #000;

// Meta
@meta-font-size: @font-size-xs;
@meta-line-height: ceil((@dropdown-popup-font-size * 1.4)); // ~20px;

// Comments
@comments-font-size: 16px;
@comments-line-height: 22px;

@comment-highlighted-background-color: rgba(82, 118, 151, @comment-highlighted-background-opacity);
@comment-highlighted-background-opacity: .2;

// Pagination
@pagination-divider-color: rgba(0, 0, 0, .1);

@pagination-font-size: 16px;
@pagination-line-height: 22px;

@pagination-item-vertical-padding: 22px;
@pagination-item-horizontal-padding: 0;

@pagination-item-bg: lighten(@black, 15%);
@pagination-item-color: @grey;

// Uploader
@uploader-height: 200px;

@uploader-border-color: #ededed;
@uploader-bg: @white;

@uploader-text-color: @grey;

@uploader-input-placeholder-color: @grey;

@uploader-loader-fill-bg: @green-light;

// Settings
@settings-divider-bg: @color-divider;

// Switcher
@switcher-width: 100px;
@switcher-height: 40px;

@switcher-bg: rgba(0, 0, 0, .2);
@switcher-border-radius: 3px;

@switcher-btn-active-bg: #ffc70b;
@switcher-btn-inactive-bg: rgba(0, 0, 0, .45);
@switcher-btn-active-color: #1e1d1d;
@switcher-btn-inactive-color: @white;

//Subscriptions
@subscriptions-nav-bg: #666;

@subscriptions-nav-font-size: 14px;
@subscriptions-nav-line-height: 1.429em;

@subscriptions-nav-divider: #727272;

@subscriptions-nav-link-color: #aaa;

@subscriptions-nav-link-active-bg: #6e6e6e;
@subscriptions-nav-link-active-color: @grey;

@subscriptions-nav-link-selected-bg: #777;
@subscriptions-nav-link-selected-color: @white;

@subscriptions-divider-bg: @color-divider;

// Notifications
@notifications-font-size: @font-size-sm;
@notifications-line-height: @line-height-sm;

@notifications-refresh-size: 42px;

@notifications-header-bg: #f5f5f5;
@notifications-header-color: #616161;

@notification-unread-color-base: @color-base;
@notification-unread-color-grey: darken(@grey, 10%);

@notification-read-color-base: darken(@grey, 10%);
@notification-read-color-grey: lighten(@grey, 6%);

@notification-divider-bg: @color-divider;

@notification-hover-bg: @notification-divider-bg;

// Messages
@messages-font-size: @font-size-sm;
@messages-line-height: @line-height-sm;

@messages-header-bg: #f5f5f5;
@messages-header-color: #616161;

@messages-dialog-divider-bg: @color-divider;
@messages-dialog-active-bg: @messages-dialog-divider-bg;

@messages-avatar-size: 42px;

@messages-counter-bg: #2ba26a;

@messages-chooser-bg: @dropdown-popup-bg;
@messages-chooser-divider-bg: rgba(255, 255, 255, .1);

@message-to-bubble-bg: #32a16c;
@message-from-bubble-bg: #f1f1f1;

// Inviter
@inviter-bg: #383838;

// Badge
@badge-font-size: 12px;
@badge-line-height: ceil((@badge-font-size * 1.36)); // 15px

@badge-green-bg: #61cc67;
@badge-green-color: #fff;

@badge-yellow-bg: #fff627;
@badge-yellow-color: #000;

@badge-blue-bg: #4d75a3;
@badge-blue-color: #fff;