// Mixins
.button-size(@height, @padding-horizontal, @font-size) {
  height: @height;
  padding-right: @padding-horizontal;
  padding-left: @padding-horizontal;
  font-size: @font-size;
  line-height: @height + 1;
}

.button-style(@background) {
  background-color: @background;

  &:hover {
    background-color: lighten(@background, 6%);
  }

  &:active {
    background-color: darken(@background, 6%);
  }
}

.button-outline(@color) {
  color: @color !important;

  &:before {
    border: 1px solid;
    .opacity(.1);
  }

  &:hover {
    &:before {
      .opacity(.3);
    }
  }

  &:active {
    &:before {
      .opacity(.5);
    }
  }
}

.button-social() {
  @{icons} {
    height: 100%;
    margin-right: @button-middle-padding-horizontal - 4;
    padding-right: @button-middle-padding-horizontal - 2;
    display: inline-block;
    border-right: 1px solid rgba(red(@color-white), green(@color-white), blue(@color-white), .09);
    top: auto;
    font-size: 16px;
    vertical-align: top;

    @{button}--large& {
      margin-right: @button-large-padding-horizontal - 4;
      padding-right: @button-large-padding-horizontal - 2;
    }
  }
}

// Styles
@{button} {
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  font-family: @font-family-base;
  text-transform: uppercase;
  letter-spacing: .1em;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  .button-size(@button-middle-height, @button-middle-padding-horizontal, @button-middle-font-size);
  .box-sizing(border-box);
  .border-radius(3px);
  .user-select(none);
  .transition(~"all .3s ease");

  // Button Link
  a& {
    text-decoration: none !important;
  }

  // Border Button
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .border-radius(3px);
    .transition(~"border .3s ease, opacity .3s");
  }

  // Icons
  @{icons} {
    position: relative;
    top: -1px;
    font-size: 23px;
    line-height: inherit;
    vertical-align: middle;
  }
}

// Button Group
@{button}-group {
  .button-group-style() {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .button-group-style;

  > @{button} {
    &:not(:first-of-type) {
      margin-left: -1px; // Фикс для Chrome (во время анимации между кнопками появляется полоска в 1px)
      .border-radius-top-left(0);
      .border-radius-bottom-left(0);
    }

    &:not(:last-of-type) {
      .border-radius-top-right(0);
      .border-radius-bottom-right(0);
    }

    &:not(:first-of-type):not(:last-of-type) {
      .border-radius(0);
    }
  }

  &.state--expanded {
    & > @{button} {
      .border-radius-bottom-right(0);
      .border-radius-bottom-left(0);
    }

    & > @{dropdown} {
      .border-radius-top-right(0);
      .border-radius-top-left(0);
    }
  }

  &-dropdown {
    .button-group-style;

    &:not(:first-child) {
      @{button} {
        .border-radius-top-left(0);
        .border-radius-bottom-left(0);
      }
    }

    &:not(:last-child) {
      @{button} {
        .border-radius-top-right(0);
        .border-radius-bottom-right(0);
      }
    }

    &:not(:first-child):not(:last-child) {
      @{button} {
        .border-radius(0);
      }
    }
  }
}

// Sizes
@{button}--small {
  .button-size(@button-small-height, @button-small-padding-horizontal, @button-small-font-size);
}

@{button}--large {
  .button-size(@button-large-height, @button-large-padding-horizontal, @button-large-font-size);
}

// Types, Themes
/*-- red --*/
@{button}--red {
  color: @color-white !important;
  .button-style(#f3534b);
}

/*-- green --*/
@{button}--green {
  color: @color-white !important;
  .button-style(@color-green);
}

@{button}--green-light {
  color: @color-white !important;
  .button-style(@color-green-light);
}

@{button}--green-dark {
  color: @color-white !important;
  .button-style(@color-green-dark);
}

/*-- blue --*/
@{button}--blue {
  color: @color-white !important;
  .button-style(#4d75a3);
}

/*-- grey --*/
@{button}--grey {
  color: @color-white !important;
  .button-style(#b2b2b2);
}

/*-- yellow --*/
@{button}--yellow {
  color: @color-black !important;
  .button-style(@color-yellow);
}

/*-- outline --*/
@{button}--outline {
  .button-outline(@color-white);
}

// Rectangular Button
@{button}--rectangle {
  .border-radius(0);
}

// Block Button
@{button}--block {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  display: block;
  .box-sizing(content-box);
}

// Fixed Button
@{button}--affixed {
  position: fixed;
  top: @toolbar-margin;
  right: @toolbar-margin;
  z-index: @toolbar-zindex;
}

// Social Buttons
@{button}--vkontakte {
  .button-social;
  .button-style(#4d75a3);
}