@font-face {
  font-family: 'Airborne pilot';
  src: url('@{fonts-path}/airborne/arbn2plt.eot');
  src: url('@{fonts-path}/airborne/arbn2plt.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/airborne/arbn2plt.woff') format('woff'),
       url('@{fonts-path}/airborne/arbn2plt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}