@font-face {
  font-family: 'Beer money';
  src: url('@{fonts-path}/beermoney/beer_money.eot');
  src: url('@{fonts-path}/beermoney/beer_money.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/beermoney/beer_money.woff') format('woff'),
       url('@{fonts-path}/beermoney/beer_money.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}