@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('@{fonts-path}/djserif/dejavuserifcondensed.eot');
  src: local('DejaVu Serif Condensed'), local('DejaVuSerifCondensed'), url('@{fonts-path}/djserif/dejavuserifcondensed.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/djserif/dejavuserifcondensed.woff') format('woff'),
       url('@{fonts-path}/djserif/dejavuserifcondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('@{fonts-path}/djserif/dejavuserifcondensed-italic.eot');
  src: local('DejaVu Serif Condensed Italic'), local('DejaVuSerifCondensed-Italic'), url('@{fonts-path}/djserif/dejavuserifcondensed-italic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-italic.woff') format('woff'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('@{fonts-path}/djserif/dejavuserifcondensed-bold.eot');
  src: local('DejaVu Serif Condensed Bold'), local('DejaVuSerifCondensed-Bold'), url('@{fonts-path}/djserif/dejavuserifcondensed-bold.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-bold.woff') format('woff'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('@{fonts-path}/djserif/dejavuserifcondensed-bolditalic.eot');
  src: local('DejaVu Serif Condensed Bold Italic'), local('DejaVuSerifCondensed-BoldItalic'), url('@{fonts-path}/djserif/dejavuserifcondensed-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-bolditalic.woff') format('woff'),
       url('@{fonts-path}/djserif/dejavuserifcondensed-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}