@font-face {
    font-family: 'Heuristica';
    src: url('@{fonts-path}/heuristica/heuristica-regular.eot');
    src: local('Heuristica Regular'), local('Heuristica-Regular'), url('@{fonts-path}/heuristica/heuristica-regular.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/heuristica/heuristica-regular.woff') format('woff'),
         url('@{fonts-path}/heuristica/heuristica-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica';
    src: url('@{fonts-path}/heuristica/heuristica-italic.eot');
    src: local('Heuristica Italic'), local('Heuristica-Italic'), url('@{fonts-path}/heuristica/heuristica-italic.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/heuristica/heuristica-italic.woff') format('woff'),
         url('@{fonts-path}/heuristica/heuristica-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Heuristica';
    src: url('@{fonts-path}/heuristica/heuristica-bold.eot');
    src: local('Heuristica Bold'), local('Heuristica-Bold'), url('@{fonts-path}/heuristica/heuristica-bold.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/heuristica/heuristica-bold.woff') format('woff'),
         url('@{fonts-path}/heuristica/heuristica-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica';
    src: url('@{fonts-path}/heuristica/heuristica-bolditalic.eot');
    src: local('Heuristica Bold Italic'), local('Heuristica-BoldItalic'), url('@{fonts-path}/heuristica/heuristica-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/heuristica/heuristica-bolditalic.woff') format('woff'),
         url('@{fonts-path}/heuristica/heuristica-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}