@font-face {
  font-family: 'OSP-DIN';
  src: url('@{fonts-path}/ospdin/osp-din.eot');
  src: url('@{fonts-path}/ospdin/osp-din.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/ospdin/osp-din.woff') format('woff'),
       url('@{fonts-path}/ospdin/osp-din.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}