@font-face {
  font-family: 'Yes siree bob';
  src: url('@{fonts-path}/yessireebob/yes_siree_bob.eot');
  src: url('@{fonts-path}/yessireebob/yes_siree_bob.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/yessireebob/yes_siree_bob.woff') format('woff'),
       url('@{fonts-path}/yessireebob/yes_siree_bob.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}