@font-face {
  font-family: 'ZionTrain';
  src: url('@{fonts-path}/zion/andrijtype_-_ziontrainprostencil-demibold.eot');
  src: url('@{fonts-path}/zion/andrijtype_-_ziontrainprostencil-demibold.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/zion/andrijtype_-_ziontrainprostencil-demibold.woff') format('woff'),
       url('@{fonts-path}/zion/andrijtype_-_ziontrainprostencil-demibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}