// Styles
.account {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  &.__active {
    .account__name {
      opacity: 1;
    }

    .account__status {
      color: darken(@grey, 10%);
    }
  }
}

.account__info {
  overflow: hidden;
  .clearfix();
}

.account__actions {
  margin-left: 20px;
  float: right;
  text-align: right;
}

.account__avatar {
  width: 45px;
  height: 45px;
  margin-right: 18px;
  float: left;
}

.account__desc {
  overflow: hidden;
}

.account__name {
  font-size: @font-size-lg;
  line-height: 1.3em;
  font-family: @font-family-base-light;
  opacity: .3;
}

.account__status {
  font-size: @font-size-xs;
  line-height: 1.214em;
  color: @grey;
}

.account__logout {
  &:extend(.button all);
  color: inherit !important;
  transition: none;

  &:after {
    border: 1px solid;
    opacity: .1;
    transition: none;
  }

  &:active {
    &:after {
      opacity: .5;
    }
  }
}