.blockquote__caption {
  margin: .2em 0 0 1.2em;
  display: block;
  font-size: 70%;
  line-height: 140%;

  &:before {
    content: "\2014"; // Тире
    width: 1em;
    float: left;
    margin-left: -1.2em;
  }
}

.blockquote__source {
  word-wrap: break-word;
}

.blockquote__dash {
  margin: 0 0 0 -20px;
  position: relative;
  float: left;
  opacity: .3;
}