// Mixins
.button-size(@height, @padding-horizontal, @font-size) {
  height: @height;
  padding-right: @padding-horizontal;
  padding-left: @padding-horizontal;
  font-size: @font-size;
  line-height: @height + 1;
}

.button-common-style(@background) {
  background-color: @background;

  &:active {
    background-color: darken(@background, 6%);
  }
}

.button-hero-style() {
  &:extend(.button all, .button--extra-small all);
  color: @hero-button-color;

  &:after {
    border: 1px solid @hero-button-border-color;
  }

  &:active {
    &:after {
      border-color: @hero-button-border-color-hover;
      color: @hero-button-color-hover;
    }
  }
}

.button-hero-icon-style() {
  .button-hero-style();
  width: 3em;
  padding: 0;
  color: rgba(255, 255, 255, .6);

  &:active {
    color: @white;
  }
}

.button-group-style() {
  .inline-block();
  position: relative;
}

// Styles
button {
  outline: 0;
}

.button {
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border: none;
  background: none;
  font-family: @font-family-base;
  text-transform: uppercase;
  letter-spacing: .1em;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: @button-border-radius;
  user-select: none;
  .button-size(@button-middle-height, @button-middle-padding-horizontal, @button-middle-font-size);

  // Button Link
  a& {
    text-decoration: none !important;
  }

  // Border Button
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: @button-border-radius;
  }

  // Icons
  .icon {
    position: relative;
    top: -1px;
    font-size: 1.5em;
    line-height: inherit;
    vertical-align: middle;
  }

  .icon--cross {
    font-size: 18px;
  }

  // Loader
  .spinner {
    top: -2px;
  }
}

// Button Group
.button-group {
  .button-group-style;

  > .button {
    &:not(:first-of-type) {
      margin-left: -1px; // Фикс для Chrome (во время анимации между кнопками появляется полоска в 1px)
      .border-radius-top-left(0);
      .border-radius-bottom-left(0);
    }

    &:not(:last-of-type) {
      .border-radius-top-right(0);
      .border-radius-bottom-right(0);
    }

    &:not(:first-of-type):not(:last-of-type) {
      .border-radius(0);
    }
  }

  &.__expanded {
    & > .button {
      .border-radius-bottom-right(0);
      .border-radius-bottom-left(0);
    }

    & > .dropdown-popup {
      .border-radius-top-right(0);
      .border-radius-top-left(0);
    }
  }
}

.button-group-dropdown {
  .button-group-style;

  &:not(:first-child) {
    .button {
      .border-radius-top-left(0);
      .border-radius-bottom-left(0);
    }
  }

  &:not(:last-child) {
    .button {
      .border-radius-top-right(0);
      .border-radius-bottom-right(0);
    }
  }

  &:not(:first-child):not(:last-child) {
    .button {
      .border-radius(0);
    }
  }
}

// Sizes
.button--extra-small {
  .button-size(@button-extra-small-height, @button-extra-small-padding-horizontal, @button-extra-small-font-size);
}

.button--small {
  .button-size(@button-small-height, @button-small-padding-horizontal, @button-small-font-size);
}

.button--large {
  .button-size(@button-large-height, @button-large-padding-horizontal, @button-large-font-size);
}

// Types, Themes
// Red
.button--red {
  color: @white !important;
  .button-common-style(#f3534b);
}

// Green
.button--green {
  color: @white !important;
  .button-common-style(@green);
}

.button--green-lighter {
  color: @white !important;
  .button-common-style(@green-lighter);
}

.button--green-dark {
  color: @white !important;
  .button-common-style(@green-dark);
}

// Blue
.button--blue {
  color: @white !important;
  .button-common-style(#4d75a3);
}

// Grey
.button--grey {
  color: @white !important;
  .button-common-style(#b2b2b2);
}

// Yellow
.button--yellow {
  color: @black !important;
  .button-common-style(@yellow);
}

// Rectangular Button
.button--rectangle {
  border-radius: 0;
}

// Block Button
.button--block {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  display: block;
  box-sizing: content-box;
}

// Circle Button
.button--circle {
  width: @button-circle-size;
  height: @button-circle-size;
  padding: 0;
  background-color: @white;
  line-height: @button-circle-size;
  color: @grey;
  letter-spacing: 0;
  border-radius: 50%;

  .icon {
    margin: 2px;
    font-size: 38px;
  }

  &:active,
  &.__active {
    background-color: @green-light;
    color: @white;
  }

  &.__disable {
    background-color: @grey;
    color: @white;
  }
}

// Icon Button
.button--icon {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

// Hero Buttons
.action-menu-button {
  .button-hero-icon-style();
}

.profile-settings-button {
  .button-hero-icon-style();
}

.write-message-button {
  &:extend(.action-menu-button all);
}

// Post Action Buttons
.post-privacy-button {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: @grey;

  .icon {
    font-size: 36px;
    vertical-align: middle;
  }

  &.__active {
    color: @green-light;
  }
}

.post-save-button {
  width: auto;
  margin: 0;
  padding: .4em;
  border: none;
  background: @green-light;
  color: @white;
  border-radius: @border-radius-base;

  .icon {
    font-size: 22px;
    vertical-align: middle;
  }
}

// Social Auth Buttons
.vk-auth-button {
  &:extend(.button all);
  .button-common-style(#0174de);
  color: @white !important;
}

.fb-auth-button {
  &:extend(.button all);
  .button-common-style(#1746b8);
  color: @white !important;
}

.site-auth-button {
  &:extend(.button all);
  .button-common-style(#eeeef0);
  color: @color-base !important;
}

.reg-auth-button {
  &:extend(.button all);
  color: inherit;

  &:after {
    border: 1px solid;
    opacity: .3;
  }
}

.outline-auth-button {
  &:extend(.reg-auth-button all);
}

.manage-subscriptions-button {
  &:extend(.button all, .button--extra-small all, .button--block all);
  .button-common-style(@manage-subscriptions-button-bg);
  color: @white !important;
}

.auth-button {
  &:extend(.button all, .button--extra-small all, .button--green all);
  margin-top: 5px;
  position: fixed;
  top: @indent-base;
  right: @indent-base;
  z-index: @zindex-auth-button;
}

.load-more-button {
  &:extend(.button all, .button--block all, .button--rectangle all);
  height: @load-more-button-height;
  background-color: @load-more-button-bg;
  font-size: @load-more-button-font-size;
  line-height: @load-more-button-line-height;
  letter-spacing: 0;
  text-transform: none;
  color: @load-more-button-color !important;

  &:active {
    background-color: lighten(@load-more-button-bg, 6%);
  }
}

.settings__change-button {
  &:extend(.button all, .button--green all, .button--block all);
}

.settings__declare-button {
  &:extend(.button all, .button--green all, .button--block all);
}

.settings__cancel-button {
  &:extend(.button all, .button--grey all, .button--block all);
}