.follow-button {
  .button-hero-style();

  // Подписаны
  &.__active {
    background-color: @follow-button-active-bg;

    &:before {
      border-color: transparent;
    }

    &:hover {
      background-color: @follow-button-active-hover-bg;
    }

    &:active {
      background-color: @follow-button-active-click-bg;
    }
  }
}