.form-choose-file {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
}

.form-choose-file__text {
  display: inline-block;
  border-bottom: 1px solid;
}

.form-choose-file__input {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 70px;
  cursor: pointer;
  opacity: 0;
}