.hero {
  min-height: @hero-min-height;
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  color: @white;
  text-align: center;
  overflow: hidden;
  user-select: none;

  &:before {
    content: "";
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color: inherit;
  }
}

.hero__close {
  &:extend(.toolbar__toggle);
  display: none;

  .icon {
    &:extend(.toolbar .icon);
  }

  .icon--cross {
    font-size: 19px;
  }
}

.hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: @hero-overlay-bg;
  opacity: .3;
}

.hero__gradient {
  width: 100%;
  height: 300px;
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
}

.hero__content {
  .inline-block;
  width: 90%;
  max-width: 540px;
  padding: 20px 0;
  position: relative;
}

.hero__avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  display: block;

  .avatar__text {
    font-size: 36px;
    font-family: @font-family-base-light;
  }
}

.hero__head {
  margin-top: 8px;
}

.hero__title {
  position: relative;
  display: inline-block;
  font-size: 26px;
  line-height: 1.231em;
  font-family: @font-family-base-light;
}

.hero__text,
.hero__actions {
  display: none;
}

.hero__text {
  opacity: .4;
}

.hero__smalltext {
  font-size: @font-size-xs;
  color: @grey;
}

.hero__actions {
  padding-top: 20px;

  button {
    margin: 0 5px;
  }
}

.hero__user-actions {
  &:extend(.dropdown-container all);
}

.hero__dropdown-popup {
  &:extend(.dropdown-popup all);
}

.hero__dropdown-popup-list {
  &:extend(.dropdown-popup__list all);
}

.hero__dropdown-popup-item {
  &:extend(.dropdown-popup__item all);
}

.hero__dropdown-popup-link {
  &:extend(.dropdown-popup__link all);
}

.hero__stats {
  width: 100%;
  padding: 0 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
}

.hero__stats-item {
  width: 20%;
  min-width: 64px;
  padding: 4px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  vertical-align: top;
  cursor: default;

  &.hero__stats-item-handler {
    cursor: pointer
  }
}

.hero__stats-value {
  display: block;
  font-weight: normal;
  font-size: 30px;
  font-family: @font-family-base-light;
}

.hero__stats-label {
  opacity: .4;
}

.hero__stats-link {
  display: block;
  color: @white;
}