.main-pane {
  position: relative;
}

.main-pane__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: @white;
}

.main-pane__content {
  position: relative;
  padding: @indent-base 0;

  a {
    color: @grey;

    &:active {
      color: darken(@grey, 14%);
    }
  }
}