.meta-author {
  &:extend(.meta-item all);
  .text-overflow;
  max-width: 100%;
  margin-right: 12px;
}

.meta-author__avatar {
  .inline-block();
  width: 28px;
  height: 28px;

  .avatar__text {
    font-size: 18px;
  }
}