// Placeholders
.meta-item-icon {
  .inline-block();
  .icon;
  margin: -.25em 0 -.15em;
  font-size: 1.429em;
}

.meta-item-button {
  padding: 5px 7px;
  position: relative;
  border: none;
  background: none;
  border-radius: @border-radius-small;
  opacity: .4;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid;
    border-radius: @border-radius-small;
    opacity: .4;
  }

  &:active {
    opacity: .7;
  }
}

// Styles
.meta {
  &:extend(.clearfix);
  .user-select(none);
}

.meta-item {
  .inline-block;
  margin: 4px 8px 4px 0;
  font-family: @font-family-base;
  font-size: @meta-font-size;
  line-height: @meta-line-height;
  white-space: nowrap;
}