.toolbar {
  color: @white;

  .icon {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
  }

  .icon--menu {
    font-size: 28px;
  }

  .icon--ribbon {
    font-size: 32px;
  }
}

// Activator
.toolbar__toggle {
  width: @toolbar-size;
  height: @toolbar-size;
  position: fixed;
  top: @indent-base;
  background: @toolbar-bg-base;
  background-color: @toolbar-bg;
  text-align: center;
  line-height: @toolbar-size;
  cursor: pointer;
  border-radius: 50%;
  z-index: @zindex-toolbar;
}

// Indicators
.toolbar__indicators {
  .font-null;
  position: absolute;
  left: -3px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.toolbar__indicator {
  width: 6px;
  height: 6px;
  margin: 3px 0;
  display: block;
  border-radius: 50%;
}

.toolbar__indicator--messages {
  background-color: #fff627;
}

.toolbar__indicator--notifications {
  background-color: #61cc67;
}

// Popup
.toolbar__popup {
  width: @toolbar-popup-width;
  height: 100%;
  position: fixed;
  // visibility: hidden тормозит систему, поэтому прячем через display: none
  display: none;
  top: 0;
  background: @toolbar-popup-bg;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  z-index: @zindex-toolbar;

  .notifications-badge,
  .messages-badge,
  .favorites-badge {
    margin-left: 5px;
  }

  &.__visible {
    display: block;
  }
}

.toolbar__popup-list {
  .list-style-none();
}

.toolbar__popup-item {
  white-space: nowrap;
  cursor: pointer;

  .icon {
    width: 1em;
    margin-right: .6em;
  }

  // States
  &.__active {
    .toolbar__popup-link {
      .toolbar-popup-link-active;
    }
  }

  &.__highlighted {
    .toolbar__popup-link {
      background: @toolbar-item-highlight-bg !important;
      color: #232323;
    }
  }

  &.__disabled {
    .toolbar__popup-link {
      background: none !important;
      color: #bbb;
      opacity: .92;
    }
  }
}

.toolbar__popup-link {
  padding: 10px 20px 9px;
  display: block;
  color: #bbb;
  opacity: .92;

  a& {
    &:active {
      .toolbar-popup-link-active;
    }
  }
}

// Types
// -- Toolbar -- //
.toolbar--left {
  .toolbar__toggle {
    left: @indent-base;
  }

  .toolbar__popup {
    left: 0;
  }
}

.toolbar--right {
  .toolbar__toggle {
    right: @indent-base;
  }

  .toolbar__popup {
    right: 0;
  }
}

.toolbar--feed {
  &:extend(.toolbar--left all);
}

.toolbar--user {
  &:extend(.toolbar--right all);
}

.toolbar--close {
  display: none;
}

// -- Popup -- //
.toolbar__popup--complex {
  padding-bottom: 40px; // Необходимо менять, если меняется количество дополнительных пунктов
  box-sizing: border-box;

  .toolbar__popup-list {
      &:first-child {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

// -- Popup List -- //
.toolbar__popup-list--additional {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: @toolbar-popup-bg;
  font-size: @font-size-xs;
  line-height: @line-height-xs;
  text-align: center;

  .toolbar__popup-link {
    background-color: transparent !important;
    color: #bbb !important;
  }
}
