.promo-popup-enabled { overflow: hidden }

/* -- Promo Corner Iframe -- */
.promo-corner-iframe { width: 75px; height: 75px; position: fixed; bottom: 0; left: 0; border: 0 none; vertical-align: top; overflow: hidden }
/* -- end Promo Corner Iframe -- */

/* -- Promo Corner -- */
.promo-corner-block { width: 75px; height: 75px; position: fixed; left: 0; bottom: 0; line-height: 32px; font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: center; overflow: hidden; z-index: 200 }
    .promo-corner {
        width: 100px; height: 100px; position: absolute; bottom: -50px; left: -50px; background-color: #ffc600; cursor: pointer; 
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
        .promo-corner__text { display: inline-block; font-size: 10px; line-height: 1; text-transform: uppercase; letter-spacing: .2em; vertical-align: middle; color: #111 }
/* -- end Promo Corner -- */

/* -- Promo Popup Iframe -- */
.promo-popup-iframe { 
    width: 100%; height: 100%; position: fixed; display: none; top: 0; left: 0; border: 0 none; overflow: hidden; z-index: 5000;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    transition: transform .4s ease;
}
.promo-popup-iframe.state--disabled {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
/* -- end Promo Popup Iframe -- */

/* -- Promo Popup -- */
.promo-popup { width: 100%; height: 100%; position: fixed; display: none; top: 0; left: 0; background: #000; background-color: rgba(0, 0, 0, .91); overflow-x: auto; overflow-y: auto; z-index: 5000 }
    .promo-popup__close { 
        padding: 10px; position: absolute; top: 18px; right: 18px; cursor: pointer; z-index: 5005;
        .transition(all .2s ease);
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }
        .promo-popup__close-icon { width: 34px; height: 34px; font-size: 34px; line-height: 1; font-family: 'tastyicons'; color: #fff }
    .promo-popup__close:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    .promo-popup__content { height: 100%; text-align: center }
    .promo-popup__content:before { content: ""; height: 100%; margin-right: -.3em; display: inline-block; vertical-align: middle }
        .promo-popup__box { width: 392px; margin: 65px 12px; position: relative; display: inline-block; vertical-align: middle; z-index: 5000 }
            .promo-popup__box .spinner { 
                margin: -19px 0 0 -19px; position: absolute; top: 50%; left: 50%; color: #fff; 
                -moz-opacity: 1;
                filter: alpha(opacity = 100);
                opacity: 1;
                -webkit-transition: opacity .2s ease;
                -moz-transition: opacity .2s ease;
                -o-transition: opacity .2s ease;
                transition: opacity .2s ease; 
            }
            /* - loaded - */
            .promo-popup__box.state--loaded .spinner {
                -moz-opacity: 0;
                filter: alpha(opacity = 0);
                opacity: 0;
            }
            .promo-popup__box.state--loaded .promo-card {
                -moz-opacity: 1;
                filter: alpha(opacity = 100);
                opacity: 1;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
/* -- end Promo Popup -- */

/* -- Promo Card -- */
.promo-card { 
    width: 392px; display: inline-block; font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif; color: #262626; vertical-align: middle;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
    .promo-card a { text-decoration: underline; color: #262626 }
    .promo-card a:hover { color: #666 }
    .promo-card__header { position: relative }
    .promo-card__footer { 
        padding: 22px 40px; position: relative; background-color: #fff;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }
        .promo-card__pic { 
            position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #333; background-position: 50% 50%; overflow: hidden;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }
        .promo-card__pic:after { 
            content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #45453f;
            -moz-opacity: .4;
            filter: alpha(opacity = 40);
            opacity: .4;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }
        .promo-card__avatar { 
            width: 102px; height: 102px; margin-top: -51px; position: relative; display: inline-block; background-position: 50% 50%; background-repeat: no-repeat; vertical-align: top;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
            .promo-card__avatar-img { max-width: 100%; max-height: 100%; visibility: hidden }
        .promo-card__lead-text { padding: 20px 40px; position: relative; font-size: 40px; line-height: 1em; color: #fff }
        .promo-card__button { 
            margin-bottom: 24px; padding: 16px 28px 14px; position: relative; display: inline-block; background-color: #ffc600; font-size: 13px; line-height: normal; font-family: "PT Sans", Arial, "Helvetica Neue", Helvetica, sans-serif; text-transform: uppercase; letter-spacing: 0.1em; text-decoration: none !important; vertical-align: top; outline: none; color: #000 !important;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }
        .promo-card__button:hover {
            background-color: #ffd237; 
            -webkit-box-shadow: 0 1px 0 1px rgba(255, 255, 0, .3);
            -moz-box-shadow: 0 1px 0 1px rgba(255, 198, 0, .3);
            box-shadow: 0 1px 0 1px rgba(255, 198, 0, .3);
        }
        .promo-card__text { font-size: 14px; line-height: 18px }
/* -- end Promo Card -- */

/* -- Spinner -- */
.spinner { position: relative; display: inline-block; font: 0/0 a; vertical-align: middle }
    .spinner__icon { 
        display: inline-block; border-style: solid; border-right-color: transparent; border-bottom-color: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: spinner .4s linear infinite;
        -moz-animation: spinner .4s linear infinite;
        -ms-animation: spinner .4s linear infinite;
        -o-animation: spinner .4s linear infinite;
        animation: spinner .4s linear infinite;
    }
    .spinner--30x30 .spinner__icon { width: 30px; height: 30px; border-width: 4px }

@-webkit-keyframes spinner {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes spinner {
  0%   { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes spinner {
  0%   { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes spinner {
  0%   { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinner {
  0%   { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/* -- end Spinner -- */