.blockquote {}

.blockquote__caption {
  display: block;
}

.blockquote__source {
  word-wrap: break-word;
}

.blockquote__dash {
  margin: 0 0 0 -20px;
  position: relative;
  float: left;
  opacity: .3;
}