.connection-line {
  width: 30px;
  height: 1px;
  position: absolute;
  display: block;
  overflow: hidden;
  .font-null();
  .transform-origin(0 0);
}

.connection-line-i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @black;
  opacity: .3;
}