.content-info {
  padding: 100px 40px;
  text-align: center;
}

.content-info__icon {
	margin-bottom: .24em;
	font-size: 102px;
	color: #ccc;
}

.content-info__text {
  font-size: 16px;
  line-height: 21px;
  font-family: @font-family-base;
  color: @black;
}