// Mixins
.dropdown-style(@background) {
  background-color: @background;

  .dropdown-popup__link {
    &:hover,
    &.state--active {
      background-color: darken(@background, 6%);
    }
  }
}

.make-popover() {
  width: @popover-width;
  margin: 10px 0 0 -(@popover-width / 2);
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: @popover-bg;
  font-size: 0;
  line-height: @popover-line-height;
  color: @white;
  text-align: left;
  visibility: hidden;
  z-index: @zindex-popover;
  opacity: 0;
  border-radius: @popover-border-radius;
  .transition-transform(~".3s ease .2s, visibility 0s ease .5s, opacity .3s ease .2s");

  .icon {
    width: 1em;
    margin-right: 12px;
    top: -2px;
    position: relative;
    font-size: 19px;
    display: inline-block;
    vertical-align: middle;
  }

  &:after {
    content: "";
    margin-left: -7px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 0 7px 7px;
    border-style: solid;
    border-color: transparent transparent @popover-bg;
    .font-null();
  }

  &-item {
    padding: 11px 15px 10px;
    display: block;
    font-size: @popover-font-size;
    line-height: @popover-line-height;
    background: transparent;
    opacity: .6 !important;

    &:hover {
      background-color: @yellow;
      color: @black;
      opacity: 1 !important;
    }

    &:first-child {
      .border-radius-top-right(@popover-border-radius);
      .border-radius-top-left(@popover-border-radius);
    }

    &:last-child {
      .border-radius-bottom-right(@popover-border-radius);
      .border-radius-bottom-left(@popover-border-radius);
    }
  }
}

// Styles
.dropdown-popup {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: @dropdown-font-size;
  line-height: @dropdown-line-height;
  font-family: @font-family-base;
  text-align: left;
  visibility: hidden;
  overflow: hidden;
  z-index: @zindex-dropdown;
  opacity: 0;
  border-radius: @dropdown-border-radius;
  transform: translate(0, 10px);
  transition: transform .3s ease, visibility 0s ease .3s, opacity .3s ease;

  .icon {
    width: 1em;
    margin-right: 4px;
    position: relative;
    display: inline-block;
    top: -1px;
    font-size: 23px;
    vertical-align: middle;
    opacity: .7;
  }

  .state--expanded > & {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform .3s ease, visibility 0s ease .0s, opacity .3s ease;
  }
}

.dropdown-popup__link {
  height: @dropdown-height-item;
  padding: 0 10px;
  display: block;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .08);
  line-height: @dropdown-height-item;
  color: @white !important;
  .text-overflow();
  opacity: 1 !important;
  box-sizing: padding-box;

  &:hover,
  &.state--active {
    border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .2);
  }

  .dropdown-popup__item:first-child & {
    border-top: none;
  }
}

.dropdown-popup--green-dark {
  .dropdown-style(@green-dark);
}