.follow-status {
  width: 22px;
  height: 22px;
  position: absolute;
  right: -4px;
  bottom: -4px;
  background-color: @follow-status-bg;
  line-height: 22px;
  color: @follow-status-color;
  text-align: center;
  cursor: default;
  z-index: @zindex-follow-status;
  opacity: .94;
  border-radius: 50%;

  .icon {
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    vertical-align: middle;
  }
}