.valign {
  width: 100%;
  height: 100%;
  display: table;
}

.valign__middle {
  display: table-cell;
  vertical-align: middle;
}

// TODO: Переделать valign на grid-full
.grid-full {
  width: 100%;
  height: 100%;
  display: table;
}

.grid-full__middle {
  display: table-cell;
  vertical-align: middle;
}