.notifications {
  padding: 15px 0;
}

.notification {
  position: relative;

  &.state--unread {
    .notification__read-state {
      background-color: #64c467;
    }

    .notification__user {
      color: #888;
    }

    .notification__action-text {
      color: #888;
    }

    .notification__text {
      color: @notification-text-color;
    }

  }

}

.notification__inner {
  padding: @notification-vertical-padding @notification-horizontal-padding;
  .clearfix();
}

.notifications__list {
  height: 100%;
  position: relative;
  display: table;
  width: 100%;
}

.notification__link {
  display: block;

  &:hover {
    background-color: @notification-hover-bg;
    color: inherit !important;
  }
}

.notification__desc {
  overflow: hidden;
}

.notification__image {
  width: 50px;
  margin-left: 15px;
  float: right;

  img {
    width: 100%;
  }
}

.notification__user {
  font-size: 13px;
  font-weight: bold;
  color: #656565;
}

.notification__action-text {
  font-size: 13px;
  color: #656565;
}

.notification__text {
  font-size: 13px;
  color: #888;
}

.notification__read-state {
  width: 6px;
  height: 6px;
  margin: 14px -100% 0 0;
  position: relative;
  float: left;
  left: -12px;
  border-radius: 50%;
}

.notification__user-avatar {
  width: 35px;
  height: 35px;
  margin-right: 6px;
  float: left;
}

.notifications__empty {
  padding: 40px 20px;
  color: @white;
  text-align: center;
}