.pagination {
  font-size: 12px;
  line-height: normal;
  font-family: @font-family-base;
  overflow: hidden;
}

.pagination__item {
  padding: 10px 14px;
  display: inline-block;
  border: 1px solid;
  vertical-align: middle;
  opacity: .2;
  border-radius: @pagination-border-radius;
}

.pagination__item--prev {
  float: left;
}

.pagination__item--next {
  float: right;
}