.people-item {
  width: @people-item-width;
  margin: 0 0 @people-item-margin-bottom;
  display: inline-block;
  color: @people-item-color;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}

.people-item__inner {
  padding: 0 @people-item-inner-horizontal-padding;
}

.people-item__link {
  color: inherit;
}

.people-item__avatar {
  width: @people-item-avatar-size;
  height: @people-item-avatar-size;
  margin-bottom: 14px;
  display: inline-block;
  position: relative;

  .follow-status {
    top: 75px;
    left: 90px;
  }
}

.people-item__name {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  font-family: @font-family-base-light;
  word-wrap: break-word;
}

.people-item__desc {
  font-size: 13px;
  line-height: 16px;
}