// Styles
.settings {
  font-size: 14px;
  line-height: 17px;
  color: @white;

  .form-field {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.settings__item {
  margin: 0 32px;
  padding: 20px 0 22px;
  border-top: 1px solid rgba(red(@white), green(@white), blue(@white), .1);
  .clearfix();

  &:first-child {
    border-top: none;
  }
}

.settings__item--full {
  .settings__left {
    max-width: 100%;
  }
}

.settings__left {
  max-width: 60%;
  overflow: hidden;
}

.settings__right {
  margin-left: 15px;
  float: right;
  text-align: right;
}

.settings__title {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  font-family: @font-family-base-light;
}

.settings__desc {
  opacity: .23;
}

.settings__error {
  color: #e96666;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}