.site-app {
  width: 170px;
  height: 178px;
  padding-left: 185px;
  text-align: left;

  .hero & {
    position: absolute;
    left: 62%;
    bottom: 0;
  }
}

.site-app__cover {
  width: 188px;
  height: 178px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.site-app__desc {
  padding: 25px 0 20px;
  position: relative;
}

.site-app__title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
}

.site-app__link {
  width: 148px;
  height: 48px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  vertical-align: top;
}

.site-app--android {
  .site-app__cover {
    background-image: url("@{images-path}/site-app-cover-android.png");
  }

  .site-app__link {
    background-image: url("@{images-path}/site-app-link-android.png");
  }
}

@media (max-width: 1000px) {
  .hero {
    .site-app {
      padding-left: 0;
      left: 70%
    }

    .site-app__cover {
      display: none;
    }
  }
}