.tech-info {
  width: 424px;
  margin: 0 auto;
}

.tech-info__pic {}

.tech-info__number {
  margin-bottom: .25em;
  font-size: 72px;
  line-height: 1;
  font-family: @font-family-base-light;
  color: #ccc;
}

.tech-info__desc {
  color: #777;
}