.tech-info {
  margin: 0 auto;
}

.tech-info__icon {
	margin-bottom: .24em;
	font-size: 116px;
	color: #ccc;
}

.tech-info__title {
	margin-bottom: .4em;
	font-weight: normal;
	font-size: 30px;
	line-height: 34px;
}

.tech-info__number {
  margin-bottom: .25em;
  font-size: 72px;
  line-height: 1;
  font-family: @font-family-base-light;
  color: #ccc;
}

.tech-info__text {
  color: #777;
}