@font-face {
  font-family: 'Anonymous';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/flaticon.woff') format('woff'), url('/assets/flaticon.ttf') format('truetype');
}

.anonymous_char {
  font-family: 'Anonymous';
  font-style: normal;
  font-weight: normal;
}