@font-face {
  font-family: 'Anonymous';
  font-style: normal;
  font-weight: normal;
  src: url('@{fonts-path}flaticon.woff') format('woff'), url('@{fonts-path}flaticon.ttf') format('truetype');
}

.anonymous_char {
  font-family: 'Anonymous';
  font-style: normal;
  font-weight: normal;
}