@font-face {
  font-family: 'Berenis ADF Pro';
  src: url('@{fonts-path}/berenisadfpro/berenis-adf-pro.regular.eot');
  src: local('Berenis ADF Pro Regular'), local('BerenisADFPro-Regular'), url('@{fonts-path}/berenisadfpro/berenis-adf-pro.regular.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.regular.woff') format('woff'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berenis ADF Pro';
  src: url('@{fonts-path}/berenisadfpro/berenis-adf-pro.italic.eot');
  src: local('Berenis ADF Pro Italic'), local('BerenisADFPro-Italic'), url('@{fonts-path}/berenisadfpro/berenis-adf-pro.italic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.italic.woff') format('woff'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Berenis ADF Pro';
  src: url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bold.eot');
  src: local('Berenis ADF Pro Bold'), local('BerenisADFPro-Bold'), url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bold.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bold.woff') format('woff'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berenis ADF Pro';
  src: url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bolditalic.eot');
  src: local('Berenis ADF Pro BoldItalic'), local('BerenisADFPro-BoldItalic'), url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bolditalic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bolditalic.woff') format('woff'),
       url('@{fonts-path}/berenisadfpro/berenis-adf-pro.bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}