@font-face {
  font-family: 'Clear Sans';
  src: url('@{fonts-path}/clearsans/clearsans-regular.eot');
  src: local('Clear Sans Regular'), local('ClearSans'), url('@{fonts-path}/clearsans/clearsans-regular.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/clearsans/clearsans-regular.woff') format('woff'),
       url('@{fonts-path}/clearsans/clearsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('@{fonts-path}/clearsans/clearsans-italic.eot');
  src: local('Clear Sans Italic'), local('ClearSans-Italic'), url('@{fonts-path}/clearsans/clearsans-italic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/clearsans/clearsans-italic.woff') format('woff'),
       url('@{fonts-path}/clearsans/clearsans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('@{fonts-path}/clearsans/clearsans-bold.eot');
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('@{fonts-path}/clearsans/clearsans-bold.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/clearsans/clearsans-bold.woff') format('woff'),
       url('@{fonts-path}/clearsans/clearsans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('@{fonts-path}/clearsans/clearsans-bolditalic.eot');
  src: local('Clear Sans Bold Italic'), local('ClearSans-BoldItalic'), url('@{fonts-path}/clearsans/clearsans-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/clearsans/clearsans-bolditalic.woff') format('woff'),
       url('@{fonts-path}/clearsans/clearsans-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}