@font-face {
  font-family: 'Nautilus Pompilius';
  src: url('@{fonts-path}/nautilus/nautilus.eot');
  src: url('@{fonts-path}/nautilus/nautilus.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/nautilus/nautilus.woff') format('woff'),
       url('@{fonts-path}/nautilus/nautilus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}