@font-face {
  font-family: 'Pecita';
  src: url('@{fonts-path}/pecita/pecita.eot');
  src: url('@{fonts-path}/pecita/pecita.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/pecita/pecita.woff') format('woff'),
       url('@{fonts-path}/pecita/pecita.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}