@font-face {
  font-family: 'Permian Slab Serif';
  src: url('@{fonts-path}/permian/permianslabseriftypeface.eot');
  src: url('@{fonts-path}/permian/permianslabseriftypeface.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/permian/permianslabseriftypeface.woff') format('woff'),
       url('@{fonts-path}/permian/permianslabseriftypeface.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Permian Slab Serif';
  src: url('@{fonts-path}/permian/permianslabseriftypeface-italic.eot');
  src: url('@{fonts-path}/permian/permianslabseriftypeface-italic.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/permian/permianslabseriftypeface-italic.woff') format('woff'),
       url('@{fonts-path}/permian/permianslabseriftypeface-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Permian Slab Serif';
  src: url('@{fonts-path}/permian/permianslabseriftypeface-bold.eot');
  src: url('@{fonts-path}/permian/permianslabseriftypeface-bold.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/permian/permianslabseriftypeface-bold.woff') format('woff'),
       url('@{fonts-path}/permian/permianslabseriftypeface-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}