@font-face {
  font-family: 'PoetsenOne';
  src: url('@{fonts-path}/poetsen/poetsenone-regular.eot');
  src: url('@{fonts-path}/poetsen/poetsenone-regular.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/poetsen/poetsenone-regular.woff') format('woff'),
       url('@{fonts-path}/poetsen/poetsenone-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}