@font-face {
  font-family: 'Veles';
  src: url('@{fonts-path}/veles/veles-regular.0.9.2.eot');
  src: url('@{fonts-path}/veles/veles-regular.0.9.2.eot?#iefix') format('embedded-opentype'),
       url('@{fonts-path}/veles/veles-regular.0.9.2.woff') format('woff'),
       url('@{fonts-path}/veles/veles-regular.0.9.2.ttf.gz') format('truetype');
  font-weight: normal;
  font-style: normal;
}