.select2-container {
  font-family: @font-family-base;
  font-size: 16px;
  z-index: @zindex-small-popup;

  .select2-selection--single {
    height: 40px;
  }
}

.select2-container--default {
  .select2-selection--single {
    background-color: rgba(51, 51, 51, 0.93);
    border: 1px solid rgba(255, 255, 255, .1);

    .select2-selection__rendered {
      padding-left: 18px;
      padding-right: 36px;
      color: #fff;
      line-height: 40px;
    }

    .select2-selection__arrow {
      width: 30px;
      height: 38px;
    }
  }
}

.select2-dropdown {
  background-color: #282727;
  border: 1px solid rgba(255, 255, 255, .04);
  font-size: 16px;
  overflow: hidden;
  z-index: @zindex-select2-dropdown;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-results__option {
  padding: 6px 18px;
  border-top: 1px solid rgba(255, 255, 255, .04);
  color: rgba(255, 255, 255, .3);
}

.select2-container--default {
  .select2-search--dropdown {
    .select2-search__field {
      padding: 6px 18px;
      border: none;
      background-color: transparent;
      font: inherit;
      color: #fff;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background: none;
    color: rgba(255, 255, 255, .6);
  }

  .select2-results__option[aria-selected=true] {
    background: none;
    color: #fff;
  }
}

// Open
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple {
  border: 1px solid transparent;
  background-color: #282727;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-color: rgba(255, 255, 255, .04);
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-color: rgba(255, 255, 255, .04);
}

.select2-container--open .select2-dropdown {
  background-color: #282727;
  border: none;
}