.pagination {
  &:extend(.layout-constrain all);
  padding-top: 22px;
  font-size: 13px;
}

.pagination__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: @black;
  color: @white;
  opacity: .7 !important;
  border-radius: 22px;

  a&:hover {
    opacity: .8 !important;
  }
}