.follow-button {
  &:extend(.button all, .button--small all);
  .button-hero-style();
  color: @white !important;

  // Подписаны
  &.state--active {
    background-color: @follow-button-active-bg;

    &:before {
      border-color: transparent;
    }

    &:hover {
      background-color: @follow-button-active-hover-bg;
    }

    &:active {
      background-color: @follow-button-active-click-bg;
    }
  }

  // Кнопка Follow Button в блоке Persons
  .persons & {
    width: auto;
    color: @person-follow-button-color !important;

    &:before {
      border-color: @person-follow-button-border-color;
    }

    &:hover {
      color: @white !important;
    }

    &.state--active {
      border-color: transparent;
      color: @white !important;
    }
  }
}

.hero__actions .follow-button {
  color: inherit !important;
}