.settings-design--progressbar {
  height: 3px;
  background-color: @design-settings-progressbar-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  transition: width .4s ease, opacity 1s ease;
}